In [16]:
import pandas as pd
from datasets import Dataset
import torch
import numpy as np
from transformers import AutoModelForSeq2SeqLM, Seq2SeqTrainingArguments, Seq2SeqTrainer, DataCollatorForSeq2Seq, AutoTokenizer
from transformers import AutoModelForCausalLM, AutoTokenizer, Trainer, TrainingArguments, DataCollatorForLanguageModeling

In [17]:
train_df = pd.read_csv('./dataset/final/train.csv', usecols=['source', 'label'])
train_df['source'] = train_df['source'].str.lower()
train_df['label'] = train_df['label'].str.lower()
train_ds = Dataset.from_pandas(train_df)

test_df = pd.read_csv('./dataset/final/test.csv', usecols=['source', 'label'])
test_df['source'] = test_df['source'].str.lower()
test_df['label'] = test_df['label'].str.lower()
test_ds = Dataset.from_pandas(test_df)

dev_df = pd.read_csv('./dataset/final/dev.csv', usecols=['source', 'label'])
dev_df['source'] = dev_df['source'].str.lower()
dev_df['label'] = dev_df['label'].str.lower()
dev_ds = Dataset.from_pandas(dev_df)

all_df = pd.concat((train_df, test_df, dev_df))
all_ds = Dataset.from_pandas(all_df)

In [22]:
train_df.shape

(12619, 2)

In [18]:
tokenizer = AutoTokenizer.from_pretrained('./results_seq2seq/', local_files_only=True)
model = AutoModelForSeq2SeqLM.from_pretrained('./results_seq2seq/', local_files_only=True)

In [65]:
from VisAwareTranslation import postprocessing

nl_template_cnt = 0
nl_template_match = 0

for source, label in zip(test_df['source'], test_df['label']):
    input_ids = tokenizer(source, return_tensors="pt", max_length=512, padding=True, truncation=True).input_ids 
    outputs = model.generate(input_ids)
    
    decoded = ''.join(tokenizer.convert_ids_to_tokens(outputs[0])[1:-1]).replace('▁', ' ').strip()
    
    pred = postprocessing(label, decoded)

    nl_template_cnt += 1

    if ' '.join(label.replace('"', "'").split()) == ' '.join(pred.replace('"', "'").split()):
        nl_template_match += 1
    else:
        print(source)
        print(decoded)
        print(label)
        print()

10 . 9 . company_id - int , rank - int , company - str , headquarters - str , main_industry - str , sales_billion - float , profits_billion - float , assets_billion - float , market_value - float | how many companies that are not headquartered in the united states for each main industry ? show me a bar chart , and could you display by the total number from high to low ?
mark bar encoding x main_industry y aggregate count main_industry transform filter main_industry != 'united states' sort y desc
mark bar encoding x main_industry y aggregate count main_industry transform filter headquarters != 'usa' sort y desc

19 . 8 . id - int , name - str , headquarters - str , industry - str , sales_billion - float , profits_billion - float , assets_billion - float , market_value_billion - float | , and order by the y axis in ascending .
mark bar encoding x headquarters y aggregate none market_value_billion transform sort y asc
mark bar encoding x industry y aggregate count industry transform sort y asc

3 . 8 . cust_id - int , cust_name - str , acc_type - str , acc_bal - int , no_of_loans - int , credit_score - int , branch_id - int , state - str | visualize a bar chart for what are the names and account balances of customers with the letter 'a' in their names ? , could you sort from high to low by the y axis ?
mark bar encoding x acc_type y aggregate none acc_bal transform filter credit_score = 'a' sort y desc
mark bar encoding x cust_name y aggregate none acc_bal transform filter cust_name like '%a%' sort y desc

11 . 6 . dept_code - str , dept_name - str , school_code - str , emp_num - int , dept_address - str , dept_extension - int | return a bar chart on how many departments are in each school ? , and list by the count(distinctdept_name) in ascending .
mark bar encoding x school_code y aggregate count distinct dept_name transform sort count(distinctdept_name) asc
mark bar encoding x school_code y aggregate count distinct dept_name transform sort count(distinct asc dept_name) asc

50 . 4 . id - int , name - str , dept_name - str , salary - float | give me a histogram for what are the names and average salaries for departments with average salary higher than 42000 ? , and could you order by the y-axis from high to low ?
mark bar encoding x name y aggregate mean salary transform filter salary > 42000 sort y desc
mark bar encoding x dept_name y aggregate mean salary transform sort y desc

58 . 8 . facid - int , lname - str , fname - str , rank - str , sex - str , phone - int , room - str , building - str | how many faculty members do we have for each rank and gender ? plot them as bar chart , and list from low to high by the names .
mark bar encoding x rank y aggregate count rank transform sort x asc
mark bar encoding x rank y aggregate count rank color sex transform sort x asc

16 . 8 . season - float , player - str , position - str , country - int , team - int , draft_pick_number - int , draft_class - str , college - str | show the draft pick numbers and draft classes of players whose positions are defenders in a bar chart , and list by the draft_class from high to low .
mark bar encoding x position y aggregate count position transform filter position = "usa" sort x desc
mark bar encoding x draft_class y aggregate none draft_pick_number transform filter position = "defender" sort x desc

15 . 5 . guest_id - int , gender_code - str , guest_first_name - str , guest_last_name - str , date_of_birth - str | what are the number of dates of birth of all the guests whose gender is "male" ?
mark bar encoding x sex_code y aggregate count sex_code transform filter sex_last_name = "male" bin x by weekday
mark bar encoding x date_of_birth y aggregate count date_of_birth transform filter gender_code = "male" bin x by weekday

34 . 8 . stuid - int , lname - str , fname - str , age - int , sex - str , major - int , advisor - int , city_code - str | visualize a bar chart for what are the average ages for male and female students ? , display x axis in asc order please .
mark bar encoding x sex y aggregate mean age transform filter sex = 'm' sort x asc
mark bar encoding x sex y aggregate mean age transform sort x asc

10 . 9 . company_id - int , rank - int , company - str , headquarters - str , main_industry - str , sales_billion - float , profits_billion - float , assets_billion - float , market_value - float | what is the market value of every comapny in the banking industry ordered by sales and profits ? return a bar chart .
mark bar encoding x company y aggregate none market_value transform sort sales_billion asc
mark bar encoding x company y aggregate none market_value transform filter main_industry = 'banking' sort sales_billion asc profits_billion

4120 . 9 . player_id - str , yearid - int , votedby - str , ballots - float , needed - float , votes - float , inducted - str , category - str , needed_note - str | count yearid for visualizing a line chart , and order x-axis in asc order .
mark line encoding x yearid y aggregate count yearid transform sort x asc
mark line encoding x yearid y aggregate count yearid transform sort x asc bin x by year

10 . 9 . company_id - int , rank - int , company - str , headquarters - str , main_industry - str , sales_billion - float , profits_billion - float , assets_billion - float , market_value - float | how many companies that are not headquartered in the united states for each main industry ? show me a bar chart , and list names from high to low order .
mark bar encoding x main_industry y aggregate count main_industry transform filter main_industry != 'united states' sort x desc
mark bar encoding x main_industry y aggregate count main_industry transform filter headquarters != 'usa' sort x desc

6 . 4 . crs_code - str , dept_code - str , crs_description - str , crs_credit - float | how many credits does the department offer show bar chart , and order from high to low by the x-axis .
mark bar encoding x dept_code y aggregate count dept_code transform sort x desc
mark bar encoding x dept_code y aggregate sum crs_credit transform sort x desc

7 . 7 . mission_id - int , ship_id - int , code - str , launched_year - int , location - str , speed_knots - int , fate - str | show the number of fate from each fate
mark bar encoding x lot y aggregate count lot transform
mark bar encoding x fate y aggregate count fate transform

15 . 7 . transaction_id - int , investor_id - int , transaction_type_code - str , date_of_transaction - str , amount_of_transaction - float , share_count - float , other_details - float | what are the dates of transactions with at least 100 share count or amount bigger than 100 , and count them by a line chart , and could you rank by the x from low to high ?
mark line encoding x date_of_transaction y aggregate count date_of_transaction transform filter share_count > 100 sort x asc bin x by year
mark line encoding x date_of_transaction y aggregate count date_of_transaction transform filter share_count >= 100 or amount_of_transaction >= 100 sort x asc bin x by year

5 . 3 . document_type_code - str , document_type_name - str , document_type_description - str | how many document type for different document type description ? visualize with a pie chart .
mark arc encoding x document_type_name y aggregate count document_type_name transform
mark arc encoding x document_type_description y aggregate count document_type_description transform

11 . 6 . dept_code - str , dept_name - str , school_code - str , emp_num - int , dept_address - str , dept_extension - int | return a bar chart on how many departments are in each school ? , i want to show from high to low by the x .
mark bar encoding x school_code y aggregate count distinct dept_address transform sort x desc
mark bar encoding x school_code y aggregate count distinct dept_name transform sort x desc

10 . 3 . stuid - int , gameid - int , hours_played - int | what are ids and total number of hours played for each game .
mark bar encoding xgaid y aggregate sum hread transform
mark point encoding x gameid y aggregate sum hours_played transform

20 . 6 . student_id - int , address_id - int , date_address_from - str , date_address_to - str , monthly_rental - float , other_details - str | a line chart shows the change of the average of monthly_rental over date_address_to , and group by attribute date_address_to
mark line encoding x date_address_to y aggregate mean monthly_rental color other_details transform sort monthly_rental desc
mark line encoding x date_address_to y aggregate mean monthly_rental transform sort monthly_rental desc

3 . 8 . cust_id - int , cust_name - str , acc_type - str , acc_bal - int , no_of_loans - int , credit_score - int , branch_id - int , state - str | can you compare the account balances of customers with the letter 'a' in their names using a bar graph , and order by the x axis in desc please .
mark bar encoding x acc_type y aggregate none acc_bal transform filter credit_score = 'a' sort x desc
mark bar encoding x cust_name y aggregate none acc_bal transform filter cust_name like '%a%' sort x desc

9 . 6 . people_id - int , sex - str , name - str , date_of_birth - str , height - float , weight - float | show weight from each date of birth , and i want to rank in asc by the y axis please .
mark bar encoding x sex y aggregate none weight transform sort y asc
mark bar encoding x date_of_birth y aggregate none weight transform sort y asc

15 . 8 . student_id - int , date_of_registration - str , date_of_latest_logon - str , login_name - str , password - str , personal_name - str , middle_name - str , family_name - str | what are the dates of the latest logon of the students with family name "jaskolski" or "langosh" , and count them by a bar chart , list in descending by the y-axis .
mark bar encoding x date_of_latest_logon y aggregate count date_of_latest_logon transform filter personal_name like 'jaskolski' or 'langosh' sort y desc bin x by weekday
mark bar encoding x date_of_latest_logon y aggregate count date_of_latest_logon transform filter family_name = "jaskolski" or family_name = "langosh" sort y desc bin x by weekday

15 . 8 . student_id - int , date_of_registration - str , date_of_latest_logon - str , login_name - str , password - str , personal_name - str , middle_name - str , family_name - str | a bar chart for finding the number of the latest logon date of the students whose family name is "jaskolski" or "langosh" , and i want to show y axis in descending order .
mark bar encoding x date_of_latest_logon y aggregate count date_of_latest_logon transform filter personal_name != "jaskolski" or "langosh" sort y desc bin x by weekday
mark bar encoding x date_of_latest_logon y aggregate count date_of_latest_logon transform filter family_name = "jaskolski" or family_name = "langosh" sort y desc bin x by weekday

15 . 8 . student_id - int , date_of_registration - str , date_of_latest_logon - str , login_name - str , password - str , personal_name - str , middle_name - str , family_name - str | find the latest logon date of the students whose family name is "jaskolski" or "langosh" , and count them by a bar chart , and could you show from high to low by the y ?
mark bar encoding x date_of_latest_logon y aggregate count date_of_latest_logon transform filter personal_name = "jaskolski" or longosh transform sort y desc bin x by weekday
mark bar encoding x date_of_latest_logon y aggregate count date_of_latest_logon transform filter family_name = "jaskolski" or family_name = "langosh" sort y desc bin x by weekday

15 . 5 . guest_id - int , gender_code - str , guest_first_name - str , guest_last_name - str , date_of_birth - str | a bar chart for returning the number of the date of birth for all the guests with gender code "male" .
mark bar encoding x gender_code y aggregate count gender_code transform filter customer_last_name = "male"
mark bar encoding x date_of_birth y aggregate count date_of_birth transform filter gender_code = "male" bin x by weekday

15 . 7 . transaction_id - int , investor_id - int , transaction_type_code - str , date_of_transaction - str , amount_of_transaction - float , share_count - float , other_details - float | what are the dates of transactions with at least 100 share count or amount bigger than 100 , and count them by a line chart , and i want to display by the x-axis in desc please .
mark line encoding x date_of_transaction y aggregate count date_of_transaction transform filter share_count > 100 sort x desc bin x by year
mark line encoding x date_of_transaction y aggregate count date_of_transaction transform filter share_count >= 100 or amount_of_transaction >= 100 sort x desc bin x by year

3 . 8 . cust_id - int , cust_name - str , acc_type - str , acc_bal - int , no_of_loans - int , credit_score - int , branch_id - int , state - str | find the name and account balance of the customer whose name includes the letter ‘a’ visualize them using a bar chart , and i want to sort bars from high to low order .
mark bar encoding x acc_type y aggregate none acc_bal transform filter credit_score = "a" sort x desc
mark bar encoding x cust_name y aggregate none acc_bal transform filter cust_name like '%a%' sort x desc

3665 . 24 . date - str , max_temperature_f - float , mean_temperature_f - float , min_temperature_f - float , max_dew_point_f - float , mean_dew_point_f - float , min_dew_point_f - float , max_humidity - float , mean_humidity - float , min_humidity - float , max_sea_level_pressure_inches - float , mean_sea_level_pressure_inches - float , min_sea_level_pressure_inches - float , max_visibility_miles - float , mean_visibility_miles - float , min_visibility_miles - float , max_wind_speed_mph - float , mean_wind_speed_mph - float , max_gust_speed_mph - float , precipitation_inches - str , cloud_cover - float , events - str , wind_dir_degrees - float , zip_code - int | give me the number of the dates when the max temperature was higher than 85 .
mark line encoding x date y aggregate count date transform filter max_temperature_f > 85 bin x by weekday
mark bar encoding x date y aggregate count date transform filter max_temperature_f > 85 bin x by year

9 . 6 . people_id - int , sex - str , name - str , date_of_birth - str , height - float , weight - float | what is the averag weights for people of each sex ? show a bar chart , i want to rank by the y axis from low to high .
mark bar encoding x sex y aggregate none weight transform sort y asc
mark bar encoding x sex y aggregate mean weight transform sort y asc

15 . 8 . student_id - int , date_of_registration - str , date_of_latest_logon - str , login_name - str , password - str , personal_name - str , middle_name - str , family_name - str | a bar chart for what are the number of the dates of the latest logon of the students with family name "jaskolski" or "langosh" ? , and order total number in asc order .
mark bar encoding x date_of_latest_logon y aggregate count date_of_latest_logon transform filter personal_name like 'jaskolski' or 'langosh' sort y asc bin x by weekday
mark bar encoding x date_of_latest_logon y aggregate count date_of_latest_logon transform filter family_name = "jaskolski" or family_name = "langosh" sort y asc bin x by weekday

5 . 4 . county_id - int , county_name - str , population - float , zip_code - str | compute the total population across county name as a pie chart .
mark arc encoding x county_name y aggregate sum population transform
mark arc encoding x county_name y aggregate none population

15 . 5 . guest_id - int , gender_code - str , guest_first_name - str , guest_last_name - str , date_of_birth - str | return the number of the date of birth for all the guests with gender code "male" , sort y in ascending order please .
mark bar encoding x gender_code y aggregate count gender_code transform filter gender_last_name = "male" sort y asc
mark bar encoding x date_of_birth y aggregate count date_of_birth transform filter gender_code = "male" sort y asc bin x by weekday

4120 . 9 . player_id - str , yearid - int , votedby - str , ballots - float , needed - float , votes - float , inducted - str , category - str , needed_note - str | count yearid for visualizing a line chart , and could you show x-axis in desc order ?
mark line encoding x yearid y aggregate count yearid transform sort x desc
mark line encoding x yearid y aggregate count yearid transform sort x desc bin x by year

58 . 8 . facid - int , lname - str , fname - str , rank - str , sex - str , phone - int , room - str , building - str | stacked bar chart of the total number for with each sex in each rank , order by the x axis in descending .
mark bar encoding x rank y aggregate count rank transform sort x desc
mark bar encoding x rank y aggregate count rank color sex transform sort x desc

10 . 9 . company_id - int , rank - int , company - str , headquarters - str , main_industry - str , sales_billion - float , profits_billion - float , assets_billion - float , market_value - float | show the number of companies whose headquarters are not from usa fpr each main industry in a bar chart , show x-axis in ascending order please .
mark bar encoding x main_industry y aggregate count main_industry transform filter main_industry != 'usa fpr' sort x asc
mark bar encoding x main_industry y aggregate count main_industry transform filter headquarters != 'usa' sort x asc

58 . 8 . facid - int , lname - str , fname - str , rank - str , sex - str , phone - int , room - str , building - str | show all the ranks and the number of male and female faculty for each rank in a bar chart , and i want to rank x in asc order please .
mark bar encoding x rank y aggregate count rank transform sort x asc
mark bar encoding x rank y aggregate count rank color sex transform sort x asc

58 . 8 . facid - int , lname - str , fname - str , rank - str , sex - str , phone - int , room - str , building - str | stacked bar chart of the total number for with each sex in each rank , could you rank in asc by the y-axis ?
mark bar encoding x rank y aggregate count rank transform sort y asc
mark bar encoding x rank y aggregate count rank color sex transform sort y asc

16 . 8 . season - float , player - str , position - str , country - int , team - int , draft_pick_number - int , draft_class - str , college - str | show the draft pick numbers and draft classes of players whose positions are defenders show bar chart , show y-axis in descending order please .
mark bar encoding x position y aggregate count position transform filter position = "usa" sort y desc
mark bar encoding x draft_class y aggregate none draft_pick_number transform filter position = "defender" sort y desc

10 . 9 . company_id - int , rank - int , company - str , headquarters - str , main_industry - str , sales_billion - float , profits_billion - float , assets_billion - float , market_value - float | show the number of companies whose headquarters are not from usa fpr each main industry in a bar chart , and display y axis from low to high order please .
mark bar encoding x main_industry y aggregate count main_industry transform filter main_industry != 'usa fpr' sort y asc
mark bar encoding x main_industry y aggregate count main_industry transform filter headquarters != 'usa' sort y asc

5 . 3 . document_type_code - str , document_type_name - str , document_type_description - str | bar graph to show the number of document type description from different document type description , and show in ascending by the x-axis .
mark bar encoding x document_type_name y aggregate count document_type_name transform sort x asc
mark bar encoding x document_type_description y aggregate count document_type_description transform sort x asc

34 . 8 . stuid - int , lname - str , fname - str , age - int , sex - str , major - int , advisor - int , city_code - str | show the average age for male and female students visualize by bar chart , and could you sort total number in descending order ?
mark bar encoding x sex y aggregate mean age transform filter sex = 'm' sort y desc
mark bar encoding x sex y aggregate mean age transform sort y desc

15 . 8 . customer_id - int , coupon_id - int , good_or_bad_customer - str , first_name - str , last_name - str , gender_mf - int , date_became_customer - str , date_last_hire - str | take the first name of all the good customers as the x-axis and gender of all the good customers as y-axis in a bar chart , list by the y in asc .
mark bar encoding x last_name y aggregate none gender_mf transform filter good_or_bad_customer = 'good' sort y asc
mark bar encoding x first_name y aggregate none gender_mf transform filter good_or_bad_customer = 'good' sort y asc

3 . 8 . cust_id - int , cust_name - str , acc_type - str , acc_bal - int , no_of_loans - int , credit_score - int , branch_id - int , state - str | can you compare the account balances of customers with the letter 'a' in their names using a bar graph , and list in desc by the y axis .
mark bar encoding x acc_type y aggregate none acc_bal transform filter credit_score = 'a' sort y desc
mark bar encoding x cust_name y aggregate none acc_bal transform filter cust_name like '%a%' sort y desc

5 . 3 . document_type_code - str , document_type_name - str , document_type_description - str | show the number of document type for different document type description in a bar chart , list from high to low by the y-axis .
mark bar encoding x document_type_name y aggregate count document_type_name transform sort y desc
mark bar encoding x document_type_description y aggregate count document_type_description transform sort y desc

15 . 7 . apt_id - int , building_id - int , apt_type_code - str , apt_number - str , bathroom_count - int , bedroom_count - int , room_count - int | return the apartment number and the number of rooms for each apartment by a bar chart , and list from high to low by the x-axis .
mark bar encoding x apt_type_code y aggregate count apt_type_code transform sort x desc
mark bar encoding x apt_number y aggregate none room_count transform sort x desc

19 . 8 . id - int , name - str , headquarters - str , industry - str , sales_billion - float , profits_billion - float , assets_billion - float , market_value_billion - float | , rank from high to low by the bars .
mark bar encoding x headquarters y aggregate none market_value_billion transform sort x desc
mark bar encoding x industry y aggregate count industry transform sort x desc

7 . 7 . mission_id - int , ship_id - int , code - str , launched_year - int , location - str , speed_knots - int , fate - str | show the number of fate from each fate , sort x-axis in ascending order please .
mark bar encoding x lot y aggregate count lot transform sort x asc
mark bar encoding x fate y aggregate count fate transform sort x asc

16 . 8 . season - float , player - str , position - str , country - int , team - int , draft_pick_number - int , draft_class - str , college - str | what are the draft pick numbers and draft classes for players who play the defender position ? , could you sort by the y-axis in asc ?
mark bar encoding x draft_pick_number y aggregate none school transform sort y asc
mark bar encoding x draft_class y aggregate none draft_pick_number transform filter position = "defender" sort y asc

15 . 14 . catalog_entry_id - int , catalog_level_number - int , parent_entry_id - int , previous_entry_id - int , next_entry_id - int , catalog_entry_name - str , product_stock_number - str , price_in_dollars - float , price_in_euros - float , price_in_pounds - float , capacity - int , length - int , height - int , width - int | which catalog contents has price above 700 dollars ? show their catalog entry names and capacities .
mark arc encoding x catalog_entry_name y aggregate none capacity transform filter price_in_dollars > 700
mark bar encoding x catalog_entry_name y aggregate none capacity transform filter price_in_dollars > 700

15 . 7 . transaction_id - int , investor_id - int , transaction_type_code - str , date_of_transaction - str , amount_of_transaction - float , share_count - float , other_details - float | what are the number of the dates of transactions with at least 100 share count or amount bigger than 100 ? , and show total number in desc order .
mark bar encoding x date_of_transaction y aggregate count date_of_transaction transform filter share_count > 100 sort y desc bin x by weekday
mark bar encoding x date_of_transaction y aggregate count date_of_transaction transform filter share_count >= 100 or amount_of_transaction >= 100 sort y desc bin x by weekday

15 . 7 . transaction_id - int , investor_id - int , transaction_type_code - str , date_of_transaction - str , amount_of_transaction - float , share_count - float , other_details - float | what are the dates of transactions with at least 100 share count or amount bigger than 100 , and count them by a bar chart , and order in desc by the the number of date of transaction .
mark bar encoding x date_of_transaction y aggregate count date_of_transaction transform filter share_count > 100 sort y desc bin x by weekday
mark bar encoding x date_of_transaction y aggregate count date_of_transaction transform filter share_count >= 100 or amount_of_transaction >= 100 sort y desc bin x by weekday

50 . 4 . id - int , name - str , dept_name - str , salary - float | find the names and average salaries of all departments whose average salary is greater than 42000 , sort total number in desc order .
mark bar encoding x dept_name y aggregate mean salary transform filter dept_name > 42000 sort y desc
mark bar encoding x dept_name y aggregate mean salary transform sort y desc

4 . 12 . team_id - int , school_id - int , team_name - str , acc_regular_season - str , acc_percent - float , acc_home - str , acc_road - str , all_games - str , all_games_percent - float , all_home - str , all_road - str , all_neutral - str | show me about the proportion of all_games_percent and all_games_percent in a pie chart .
mark arc encoding x all_road y aggregate none all_games_percent
mark arc encoding x team_name y aggregate none all_games_percent

15 . 7 . transaction_id - int , investor_id - int , transaction_type_code - str , date_of_transaction - str , amount_of_transaction - float , share_count - float , other_details - float | what are the number of the dates of transactions with at least 100 share count or amount bigger than 100 ? , and could you display by the date_of_transaction in ascending ?
mark bar encoding x date_of_transaction y aggregate count date_of_transaction transform filter share_count > 100 sort x asc bin x by year
mark line encoding x date_of_transaction y aggregate count date_of_transaction transform filter share_count >= 100 or amount_of_transaction >= 100 sort x asc bin x by year

10 . 6 . movie_id - int , title - str , year - int , director - str , budget_million - float , gross_worldwide - int | show all director names who have a movie in the year 1999 or 2000 , and count them by a bar chart , and could you sort y in ascending order ?
mark bar encoding x directed y aggregate count directed transform filter movie_million > 2000 sort y asc
mark bar encoding x director y aggregate count director transform filter year = 1999 or year = 2000 sort y asc

50 . 4 . id - int , name - str , dept_name - str , salary - float | what are the names and average salaries for departments with average salary higher than 42000 . plot them as bar chart .
mark bar encoding x name y aggregate mean salary transform filter salary > 42000
mark bar encoding x dept_name y aggregate mean salary transform

6 . 4 . crs_code - str , dept_code - str , crs_description - str , crs_credit - float | how many credits does the department offer show bar chart , i want to order from low to high by the bars .
mark bar encoding x dept_code y aggregate count dept_code transform sort x asc
mark bar encoding x dept_code y aggregate sum crs_credit transform sort x asc

7 . 7 . mission_id - int , ship_id - int , code - str , launched_year - int , location - str , speed_knots - int , fate - str | show the number of fate from each fate , and rank by the y axis in desc please .
mark bar encoding x lot y aggregate count lot transform sort y desc
mark bar encoding x fate y aggregate count fate transform sort y desc

3 . 8 . cust_id - int , cust_name - str , acc_type - str , acc_bal - int , no_of_loans - int , credit_score - int , branch_id - int , state - str | find the name and account balance of the customer whose name includes the letter ‘a’ visualize them using a bar chart , show y-axis in descending order .
mark bar encoding x acc_type y aggregate none acc_bal transform filter credit_score = "a" sort y desc
mark bar encoding x cust_name y aggregate none acc_bal transform filter cust_name like '%a%' sort y desc

15 . 5 . guest_id - int , gender_code - str , guest_first_name - str , guest_last_name - str , date_of_birth - str | what are the number of dates of birth of all the guests whose gender is "male" ? , show by the x axis in desc .
mark bar encoding x sex_code y aggregate count sex_code transform filter sex_last_name = "male" sort x desc bin x by year
mark line encoding x date_of_birth y aggregate count date_of_birth transform filter gender_code = "male" sort x desc bin x by year

15 . 5 . guest_id - int , gender_code - str , guest_first_name - str , guest_last_name - str , date_of_birth - str | return the number of the date of birth for all the guests with gender code "male" .
mark bar encoding x sex_date_of_birth y aggregate count sex_date_of_birth transform filter customer_last_name = "male"
mark line encoding x date_of_birth y aggregate count date_of_birth transform filter gender_code = "male" bin x by year

11 . 6 . dept_code - str , dept_name - str , school_code - str , emp_num - int , dept_address - str , dept_extension - int | return a bar chart on how many departments are in each school ? , display in ascending by the names .
mark bar encoding x school_code y aggregate count distinct dept_address transform sort x asc
mark bar encoding x school_code y aggregate count distinct dept_name transform sort x asc

15 . 6 . staff_id - float , project_id - int , role_code - str , date_from - str , date_to - str , other_details - float | when do all the researcher role staff start to work ? bin the time into year interval and count them with a line chart .
mark line encoding x date_to y aggregate count date_to transform bin x by year
mark line encoding x date_from y aggregate count date_from transform bin x by year

10 . 6 . movie_id - int , title - str , year - int , director - str , budget_million - float , gross_worldwide - int | which directors had a movie in either 1999 or 2000 , and count them by a bar chart , show by the y in desc .
mark bar encoding x directed y aggregate count directed transform filter budget_million > 2000 sort y desc
mark bar encoding x director y aggregate count director transform filter year = 1999 or year = 2000 sort y desc

11 . 4 . code - int , name - str , price - int , manufacturer - int | display a pie chart for what are the names and prices of products that cost at least 180 , sorted by price decreasing and name ascending ?
mark arc encoding x name y aggregate none price transform filter price >= 180 sort y desc name asc
mark arc encoding x name y aggregate none price transform filter price >= 180 name asc

50 . 4 . id - int , name - str , dept_name - str , salary - float | give me a histogram for what are the names and average salaries for departments with average salary higher than 42000 ? , and list in ascending by the y axis .
mark bar encoding x name y aggregate mean salary transform filter salary > 42000 sort y asc
mark bar encoding x dept_name y aggregate mean salary transform sort y asc

50 . 4 . id - int , name - str , dept_name - str , salary - float | what are the names and average salaries for departments with average salary higher than 42000 plot them as bar chart , display y axis in descending order .
mark bar encoding x name y aggregate mean salary transform filter salary > 42000 sort y desc
mark bar encoding x dept_name y aggregate mean salary transform sort y desc

10 . 5 . technician_id - float , name - str , team - str , starting_year - float , age - int | what are the number of the names of the technicians by ascending order of age ?
mark bar encoding x name y aggregate count name transform sort y asc
mark bar encoding x name y aggregate count name transform sort age asc

9 . 6 . people_id - int , sex - str , name - str , date_of_birth - str , height - float , weight - float | show weight from each date of birth , and display in descending by the total number .
mark bar encoding x date_of_birth y aggregate count date_of_birth transform sort y desc
mark bar encoding x date_of_birth y aggregate none weight transform sort y desc

15 . 5 . guest_id - int , gender_code - str , guest_first_name - str , guest_last_name - str , date_of_birth - str | return the date of birth for all the guests with gender code "male" , and count them by a line chart , and display from high to low by the x .
mark line encoding x gender_code y aggregate count gender_code transform filter gender_last_name = "male" sort x desc
mark line encoding x date_of_birth y aggregate count date_of_birth transform filter gender_code = "male" sort x desc bin x by year

15 . 7 . apt_id - int , building_id - int , apt_type_code - str , apt_number - str , bathroom_count - int , bedroom_count - int , room_count - int | show me a bar chart for what are the apartment number and the room count of each apartment ? , list x-axis from high to low order .
mark bar encoding x apt_type_code y aggregate count apt_type_code transform sort x desc
mark bar encoding x apt_number y aggregate none room_count transform sort x desc

16 . 8 . season - float , player - str , position - str , country - int , team - int , draft_pick_number - int , draft_class - str , college - str | what are the draft pick numbers and draft classes for players who play the defender position show bar chart , and could you order x-axis in descending order ?
mark bar encoding x draft_pick_number y aggregate none school transform sort x desc
mark bar encoding x draft_class y aggregate none draft_pick_number transform filter position = "defender" sort x desc

16 . 8 . season - float , player - str , position - str , country - int , team - int , draft_pick_number - int , draft_class - str , college - str | show the draft pick numbers and draft classes of players whose positions are defenders in a bar chart , and list y from high to low order .
mark bar encoding x position y aggregate count position transform filter position = "usa" sort y desc
mark bar encoding x draft_class y aggregate none draft_pick_number transform filter position = "defender" sort y desc

34 . 8 . stuid - int , lname - str , fname - str , age - int , sex - str , major - int , advisor - int , city_code - str | what are the average ages for male and female students plot them as bar chart , and could you rank by the bars in desc ?
mark bar encoding x sex y aggregate mean age transform filter sex = 'm' sort x desc
mark bar encoding x sex y aggregate mean age transform sort x desc

15 . 7 . apt_id - int , building_id - int , apt_type_code - str , apt_number - str , bathroom_count - int , bedroom_count - int , room_count - int | return the apartment number and the number of rooms for each apartment , sort by the bars in desc .
mark bar encoding x apt_type_code y aggregate count apt_type_code transform sort x desc
mark bar encoding x apt_number y aggregate none room_count transform sort x desc

15 . 9 . author_id - int , author_tutor_atb - int , login_name - str , password - str , personal_name - str , middle_name - str , family_name - str , gender_mf - int , address_line_1 - str | draw a bar chart about the distribution of personal_name and author_id .
mark bar encoding x personal_name y aggregate none author_id transform sort personal_name asc
mark bar encoding x personal_name y aggregate none author_id transform sort x asc

15 . 8 . customer_id - int , coupon_id - int , good_or_bad_customer - str , first_name - str , last_name - str , gender_mf - int , date_became_customer - str , date_last_hire - str | take the first name of all the good customers as the x-axis and gender of all the good customers as y-axis in a bar chart , and sort by the names in asc .
mark bar encoding x last_name y aggregate none gender_mf transform filter good_or_bad_customer = 'good' sort x asc
mark bar encoding x first_name y aggregate none gender_mf transform filter good_or_bad_customer = 'good' sort x asc

7 . 7 . mission_id - int , ship_id - int , code - str , launched_year - int , location - str , speed_knots - int , fate - str | what is the total number of each fate ? give me the result in a bar graph , list x-axis in asc order .
mark bar encoding x lot y aggregate count lot transform sort x asc
mark bar encoding x fate y aggregate count fate transform sort x asc

15 . 7 . transaction_id - int , investor_id - int , transaction_type_code - str , date_of_transaction - str , amount_of_transaction - float , share_count - float , other_details - float | a bar chart for what are the number of the dates of transactions with at least 100 share count or amount bigger than 100 ? , and sort by the y from high to low .
mark bar encoding x date_of_transaction y aggregate count date_of_transaction transform filter share_count > 100 sort y desc bin x by weekday
mark bar encoding x date_of_transaction y aggregate count date_of_transaction transform filter share_count >= 100 or amount_of_transaction >= 100 sort y desc bin x by weekday

16 . 8 . season - float , player - str , position - str , country - int , team - int , draft_pick_number - int , draft_class - str , college - str | what are the draft pick numbers and draft classes for players who play the defender position ? , rank in descending by the total number please .
mark bar encoding x draft_pick_number y aggregate none school transform sort y desc
mark bar encoding x draft_class y aggregate none draft_pick_number transform filter position = "defender" sort y desc

15 . 5 . guest_id - int , gender_code - str , guest_first_name - str , guest_last_name - str , date_of_birth - str | return the number of the date of birth for all the guests with gender code "male" , could you rank in desc by the y ?
mark bar encoding x gender_code y aggregate count gender_code transform filter gender_last_name = "male" sort y desc bin x by weekday
mark bar encoding x date_of_birth y aggregate count date_of_birth transform filter gender_code = "male" sort y desc bin x by weekday

15 . 9 . problem_log_id - int , assigned_to_staff_id - int , problem_id - int , problem_category_code - str , problem_status_code - str , log_entry_date - str , log_entry_description - str , log_entry_fix - str , other_log_details - str | find all the ids and dates of the logs for the problem whose id is 10 plot them as bar chart , display from low to high by the total number .
mark bar encoding x log_entry_description y aggregate none log_entry_description transform sort y asc bin x by weekday
mark bar encoding x log_entry_date y aggregate none problem_log_id transform filter problem_id = 10 sort y asc

50 . 4 . id - int , name - str , dept_name - str , salary - float | what are the names and average salaries for departments with average salary higher than 42000 plot them as bar chart , list in asc by the y-axis .
mark bar encoding x name y aggregate mean salary transform filter salary > 42000 sort y asc
mark bar encoding x dept_name y aggregate mean salary transform sort y asc

10 . 7 . roomid - str , roomname - str , beds - int , bedtype - str , maxoccupancy - int , baseprice - int , decor - str | how many rooms have king beds ? report the number for each decor type .
mark bar encoding x decor y aggregate count decor transform filter bedtype = "king"
mark arc encoding x decor y aggregate count decor transform filter bedtype = "king"

10 . 5 . technician_id - float , name - str , team - str , starting_year - float , age - int | what are the names of the technicians by ascending order of age , and count them by a bar chart
mark bar encoding x name y aggregate count name transform sort y asc
mark bar encoding x name y aggregate count name transform sort age asc

9 . 6 . people_id - int , sex - str , name - str , date_of_birth - str , height - float , weight - float | what is the averag weights for people of each sex ? show a bar chart .
mark bar encoding x sex y aggregate none weight
mark bar encoding x sex y aggregate mean weight transform

15 . 5 . user_id - int , role_code - str , user_name - str , user_login - int , password - str | what are the different role codes for users , and how many users have each .
mark bar encoding x role_code y aggregate count role_code transform
mark arc encoding x role_code y aggregate count role_code transform

15 . 5 . guest_id - int , gender_code - str , guest_first_name - str , guest_last_name - str , date_of_birth - str | what are the number of dates of birth of all the guests whose gender is "male" ?
mark bar encoding x sex_code y aggregate count sex_code transform filter sex_last_name = "male" bin x by weekday
mark line encoding x date_of_birth y aggregate count date_of_birth transform filter gender_code = "male" bin x by year

58 . 8 . facid - int , lname - str , fname - str , rank - str , sex - str , phone - int , room - str , building - str | show all the ranks and the number of male and female faculty for each rank in a bar chart , i want to show in desc by the the total number .
mark bar encoding x rank y aggregate count rank transform sort y desc
mark bar encoding x rank y aggregate count rank color sex transform sort y desc

3 . 8 . cust_id - int , cust_name - str , acc_type - str , acc_bal - int , no_of_loans - int , credit_score - int , branch_id - int , state - str | find the name and account balance of the customer whose name includes the letter ‘a’ visualize them using a bar chart , and order by the y-axis in ascending please .
mark bar encoding x acc_type y aggregate none acc_bal transform filter credit_score = "a" sort y asc
mark bar encoding x cust_name y aggregate none acc_bal transform filter cust_name like '%a%' sort y asc

7 . 4 . shop_id - int , employee_id - int , start_from - int , is_full_time - str | for the average of employee_id , start_from , visualize the trend .
mark line encoding x start_from y aggregate mean employee_id color is_full_time transform bin x by year
mark line encoding x start_from y aggregate mean employee_id transform bin x by year

50 . 4 . id - int , name - str , dept_name - str , salary - float | display a bar chart for what are the names and average salaries for departments with average salary higher than 42000 ? , list x axis in descending order .
mark bar encoding x name y aggregate mean salary transform filter salary > 42000 sort x desc
mark bar encoding x dept_name y aggregate mean salary transform sort x desc

34 . 8 . stuid - int , lname - str , fname - str , age - int , sex - str , major - int , advisor - int , city_code - str | what are the average ages for male and female students plot them as bar chart , and list by the bars from low to high .
mark bar encoding x sex y aggregate mean age transform filter sex = 'm' sort x asc
mark bar encoding x sex y aggregate mean age transform sort x asc

20 . 6 . student_id - int , address_id - int , date_address_from - str , date_address_to - str , monthly_rental - float , other_details - str | show me about the change of the average of monthly_rental over date_address_to , and group by attribute date_address_to in a line chart .
mark line encoding x date_address_to y aggregate mean monthly_rental color other_details transform sort monthly_rental desc
mark line encoding x date_address_to y aggregate mean monthly_rental transform sort monthly_rental desc

34 . 8 . stuid - int , lname - str , fname - str , age - int , sex - str , major - int , advisor - int , city_code - str | what are the average ages for male and female students plot them as bar chart , display by the y-axis in descending .
mark bar encoding x sex y aggregate mean age transform filter sex = 'm' sort y desc
mark bar encoding x sex y aggregate mean age transform sort y desc

50 . 4 . id - int , name - str , dept_name - str , salary - float | find the names and average salaries of all departments whose average salary is greater than 42000 .
mark bar encoding x dept_name y aggregate mean salary transform filter dept_name > 42000
mark bar encoding x dept_name y aggregate mean salary transform

15 . 8 . customer_id - int , coupon_id - int , good_or_bad_customer - str , first_name - str , last_name - str , gender_mf - int , date_became_customer - str , date_last_hire - str | take the first name of all the good customers as the x-axis and gender of all the good customers as y-axis in a bar chart .
mark bar encoding x last_name y aggregate none gender_mf transform filter good_or_bad_customer = 'good'
mark bar encoding x first_name y aggregate none gender_mf transform filter good_or_bad_customer = 'good'

34 . 8 . stuid - int , lname - str , fname - str , age - int , sex - str , major - int , advisor - int , city_code - str | show the average age for male and female students with a bar chart , rank by the mean age in descending .
mark bar encoding x sex y aggregate mean age transform filter sex = 'm' sort y desc
mark bar encoding x sex y aggregate mean age transform sort y desc

11 . 6 . dept_code - str , dept_name - str , school_code - str , emp_num - int , dept_address - str , dept_extension - int | a bar chart about how many departments are in each school ? , show y-axis in ascending order .
mark bar encoding x school_code y aggregate count distinct dept_address transform sort count(distinct asc dept_address) asc
mark bar encoding x school_code y aggregate count distinct dept_name transform sort count(distinct asc dept_name) asc

6 . 8 . candidate_id - int , people_id - int , poll_source - str , date - str , support_rate - float , consider_rate - float , oppose_rate - float , unsure_rate - float | what is the relationship between support and consider rates of each candidate ?
mark point encoding x support_rate y aggregate none oppose_rate
mark point encoding x support_rate y aggregate none consider_rate

3 . 8 . cust_id - int , cust_name - str , acc_type - str , acc_bal - int , no_of_loans - int , credit_score - int , branch_id - int , state - str | what are the names and account balances of customers with the letter a in their names , order by the x-axis in descending .
mark bar encoding x acc_type y aggregate none acc_bal transform filter credit_score = "usa" sort x desc
mark bar encoding x cust_name y aggregate none acc_bal transform filter cust_name like '%a%' sort x desc

15 . 4 . product_id - int , product_type_code - str , product_name - str , product_price - float | scatterplot of minimal product price vs max(product price) by product_type_code
mark point encoding x product_price y aggregate min product_price transform
mark point encoding x max(product_price) y aggregate min product_price transform

10 . 3 . stuid - int , gameid - int , hours_played - int | show all game ids and the number of hours played . visualize by scatter chart .
mark point encoding xgaid y aggregate countgaid transform
mark point encoding x gameid y aggregate sum hours_played transform

9 . 6 . people_id - int , sex - str , name - str , date_of_birth - str , height - float , weight - float | show weight from each date of birth , list x in desc order .
mark bar encoding x sex y aggregate none weight transform sort x desc
mark bar encoding x date_of_birth y aggregate none weight transform sort x desc

15 . 7 . transaction_id - int , investor_id - int , transaction_type_code - str , date_of_transaction - str , amount_of_transaction - float , share_count - float , other_details - float | a bar chart for what are the number of the dates of transactions with at least 100 share count or amount bigger than 100 ?
mark bar encoding x date_of_transaction y aggregate count date_of_transaction transform filter share_count > 100 bin x by weekday
mark bar encoding x date_of_transaction y aggregate count date_of_transaction transform filter share_count >= 100 or amount_of_transaction >= 100 bin x by weekday

5 . 6 . party_id - int , minister - str , took_office - int , left_office - int , region_id - int , party_name - str | how many parties of the time they took office , binning the took office into weekday interval , could you rank y-axis in ascending order ?
mark bar encoding x took_office y aggregate count took_office color minister transform sort y asc bin x by weekday
mark bar encoding x took_office y aggregate count took_office transform sort y asc bin x by weekday

15 . 7 . transaction_id - int , investor_id - int , transaction_type_code - str , date_of_transaction - str , amount_of_transaction - float , share_count - float , other_details - float | a line chart for what are the number of the dates of transactions with at least 100 share count or amount bigger than 100 ?
mark line encoding x date_of_transaction y aggregate count date_of_transaction transform filter share_count > 100 bin x by year
mark line encoding x date_of_transaction y aggregate count date_of_transaction transform filter share_count >= 100 or amount_of_transaction >= 100 bin x by year

13 . 6 . class_code - int , crs_code - str , class_section - int , class_time - str , class_room - str , prof_num - int | for each classroom with at least 2 classes , how many classes are offered , and sort in asc by the y-axis .
mark bar encoding x class_room y aggregate count class_room transform filter class_room >= 2 sort y asc
mark bar encoding x class_room y aggregate count class_room transform sort y asc

15 . 7 . apt_id - int , building_id - int , apt_type_code - str , apt_number - str , bathroom_count - int , bedroom_count - int , room_count - int | show me a bar chart for what are the apartment number and the room count of each apartment ? , list in asc by the bar .
mark bar encoding x apt_type_code y aggregate count apt_type_code transform sort x asc
mark bar encoding x apt_number y aggregate none room_count transform sort x asc

58 . 8 . facid - int , lname - str , fname - str , rank - str , sex - str , phone - int , room - str , building - str | stacked bar chart of the total number for with each sex in each rank , i want to show in desc by the the total number .
mark bar encoding x rank y aggregate count rank transform sort y desc
mark bar encoding x rank y aggregate count rank color sex transform sort y desc

34 . 8 . stuid - int , lname - str , fname - str , age - int , sex - str , major - int , advisor - int , city_code - str | visualize a bar chart for what are the average ages for male and female students ?
mark bar encoding x sex y aggregate mean age transform filter sex = 'm'
mark bar encoding x sex y aggregate mean age transform

4120 . 9 . player_id - str , yearid - int , votedby - str , ballots - float , needed - float , votes - float , inducted - str , category - str , needed_note - str | i want to see trend of the number of yearid by yearid , and i want to show in desc by the x .
mark line encoding x yearid y aggregate count yearid transform sort x desc bin x by yearid
mark line encoding x yearid y aggregate count yearid transform sort x desc bin x by year

15 . 5 . guest_id - int , gender_code - str , guest_first_name - str , guest_last_name - str , date_of_birth - str | return the date of birth for all the guests with gender code "male" , and count them by a line chart , i want to show x axis in ascending order .
mark line encoding x gender_code y aggregate count gender_code transform filter gender_last_name = "male" sort x asc
mark line encoding x date_of_birth y aggregate count date_of_birth transform filter gender_code = "male" sort x asc bin x by year

15 . 9 . author_id - int , author_tutor_atb - int , login_name - str , password - str , personal_name - str , middle_name - str , family_name - str , gender_mf - int , address_line_1 - str | a bar chart shows the distribution of personal_name and author_id .
mark bar encoding x personal_name y aggregate none author_id transform sort personal_name asc
mark bar encoding x personal_name y aggregate none author_id transform sort x asc

5 . 3 . document_type_code - str , document_type_name - str , document_type_description - str | bar graph to show the number of document type description from different document type description , and i want to list in descending by the x axis .
mark bar encoding x document_type_name y aggregate count document_type_name transform sort x desc
mark bar encoding x document_type_description y aggregate count document_type_description transform sort x desc

3665 . 24 . date - str , max_temperature_f - float , mean_temperature_f - float , min_temperature_f - float , max_dew_point_f - float , mean_dew_point_f - float , min_dew_point_f - float , max_humidity - float , mean_humidity - float , min_humidity - float , max_sea_level_pressure_inches - float , mean_sea_level_pressure_inches - float , min_sea_level_pressure_inches - float , max_visibility_miles - float , mean_visibility_miles - float , min_visibility_miles - float , max_wind_speed_mph - float , mean_wind_speed_mph - float , max_gust_speed_mph - float , precipitation_inches - str , cloud_cover - float , events - str , wind_dir_degrees - float , zip_code - int | what are the date and mean humidity for the top 3 days with the largest max gust speeds ? return me a bar chart .
mark bar encoding x date y aggregate none mean_humidity transform sort max_gust_speed_mph desc topk 3 bin x by weekday
mark bar encoding x date y aggregate none mean_humidity transform sort max_gust_speed_mph desc topk 3

9 . 6 . people_id - int , sex - str , name - str , date_of_birth - str , height - float , weight - float | show weight from each date of birth
mark bar encoding x date_of_birth y aggregate count date_of_birth transform
mark bar encoding x date_of_birth y aggregate none weight

5 . 6 . party_id - int , minister - str , took_office - int , left_office - int , region_id - int , party_name - str | how many parties of the time they took office , binning the took office into weekday interval
mark bar encoding x took_office y aggregate count took_office color minister transform bin x by weekday
mark bar encoding x took_office y aggregate count took_office transform bin x by weekday

6 . 5 . entrepreneur_id - int , people_id - int , company - str , money_requested - float , investor - str | how many entrepreneurs correspond to each investor .
mark bar encoding x investor y aggregate count investor transform
mark arc encoding x investor y aggregate count investor transform

4120 . 9 . player_id - str , yearid - int , votedby - str , ballots - float , needed - float , votes - float , inducted - str , category - str , needed_note - str | i want to see trend of the number of yearid by yearid , show x axis in desc order .
mark line encoding x yearid y aggregate count yearid transform sort x desc bin x by yearid
mark line encoding x yearid y aggregate count yearid transform sort x desc bin x by year

15 . 5 . guest_id - int , gender_code - str , guest_first_name - str , guest_last_name - str , date_of_birth - str | what are the number of dates of birth of all the guests whose gender is "male" ? , i want to show x axis in ascending order .
mark bar encoding x sex_code y aggregate count sex_code transform filter sex_last_name = "male" sort x asc bin x by year
mark line encoding x date_of_birth y aggregate count date_of_birth transform filter gender_code = "male" sort x asc bin x by year

50 . 4 . id - int , name - str , dept_name - str , salary - float | give me a histogram for what are the names and average salaries for departments with average salary higher than 42000 ? , and could you order by the x-axis from high to low ?
mark bar encoding x name y aggregate mean salary transform filter salary > 42000 sort x desc
mark bar encoding x dept_name y aggregate mean salary transform sort x desc

3665 . 24 . date - str , max_temperature_f - float , mean_temperature_f - float , min_temperature_f - float , max_dew_point_f - float , mean_dew_point_f - float , min_dew_point_f - float , max_humidity - float , mean_humidity - float , min_humidity - float , max_sea_level_pressure_inches - float , mean_sea_level_pressure_inches - float , min_sea_level_pressure_inches - float , max_visibility_miles - float , mean_visibility_miles - float , min_visibility_miles - float , max_wind_speed_mph - float , mean_wind_speed_mph - float , max_gust_speed_mph - float , precipitation_inches - str , cloud_cover - float , events - str , wind_dir_degrees - float , zip_code - int | what are the number of the dates with a maximum temperature higher than 85 ? , and rank from high to low by the the number of date .
mark line encoding x date y aggregate count date transform filter max_temperature_f > 85 sort y asc bin x by weekday
mark bar encoding x date y aggregate count date transform filter max_temperature_f > 85 sort y desc bin x by year

9 . 6 . people_id - int , sex - str , name - str , date_of_birth - str , height - float , weight - float | what is the averag weights for people of each sex ? show a bar chart , i want to sort by the x from low to high .
mark bar encoding x sex y aggregate none weight transform sort x asc
mark bar encoding x sex y aggregate mean weight transform sort x asc

15 . 7 . transaction_id - int , investor_id - int , transaction_type_code - str , date_of_transaction - str , amount_of_transaction - float , share_count - float , other_details - float | what are the dates of transactions with at least 100 share count or amount bigger than 100 , and count them by a bar chart , and i want to display y-axis in ascending order .
mark bar encoding x date_of_transaction y aggregate count date_of_transaction transform filter share_count > 100 sort y asc bin x by weekday
mark bar encoding x date_of_transaction y aggregate count date_of_transaction transform filter share_count >= 100 or amount_of_transaction >= 100 sort y asc bin x by weekday

30 . 3 . building - str , room_number - int , capacity - int | find the number of rooms with more than 50 capacity for each building show bar chart , and could you display by the names from low to high ?
mark bar encoding x building y aggregate none capacity transform filter capacity > 50 sort x asc
mark bar encoding x building y aggregate count building transform filter capacity > 50 sort x asc

10 . 5 . technician_id - float , name - str , team - str , starting_year - float , age - int | list the names of technicians in ascending order of age , and count them by a bar chart
mark bar encoding x name y aggregate count name transform sort y asc
mark bar encoding x name y aggregate count name transform sort age asc

15 . 7 . apt_id - int , building_id - int , apt_type_code - str , apt_number - str , bathroom_count - int , bedroom_count - int , room_count - int | what are the apartment number and the room count of each apartment visualize by bar chart , sort total number in asc order .
mark bar encoding x apt_type_code y aggregate count apt_type_code transform sort y asc
mark bar encoding x apt_number y aggregate none room_count transform sort y asc

5 . 6 . party_id - int , minister - str , took_office - int , left_office - int , region_id - int , party_name - str | bar graph to show the number of took office from different took office
mark bar encoding x took_office y aggregate count took_office transform
mark bar encoding x took_office y aggregate count took_office transform bin x by weekday

15 . 7 . apt_id - int , building_id - int , apt_type_code - str , apt_number - str , bathroom_count - int , bedroom_count - int , room_count - int | give me a bar chart for room_count of each apt number
mark bar encoding x apt_type_code y aggregate count apt_type_code transform
mark bar encoding x apt_number y aggregate none room_count

5 . 3 . document_type_code - str , document_type_name - str , document_type_description - str | show the number of document type for different document type description in a pie chart .
mark arc encoding x document_type_name y aggregate count document_type_name transform
mark arc encoding x document_type_description y aggregate count document_type_description transform

107 . 11 . employee_id - int , first_name - str , last_name - str , email - str , phone_number - str , hire_date - str , job_id - str , salary - int , commission_pct - float , manager_id - int , department_id - int | what is the average salary of employees who have a commission percentage that is not null . show scatter chart .
mark point encoding x mean salary y aggregate none salary transform filter commission_pct != "null"
mark point encoding x department_id y aggregate mean salary transform filter commission_pct != "null"

15 . 5 . guest_id - int , gender_code - str , guest_first_name - str , guest_last_name - str , date_of_birth - str | what are dates of birth of all the guests whose gender is "male" , and count them by a bar chart , and list by the y axis in descending .
mark bar encoding x salary_last_name y aggregate count salary_code transform filter gender_code = "male" sort y desc bin x by weekday
mark bar encoding x date_of_birth y aggregate count date_of_birth transform filter gender_code = "male" sort y desc bin x by weekday

34 . 8 . stuid - int , lname - str , fname - str , age - int , sex - str , major - int , advisor - int , city_code - str | show the average age for male and female students . visualize by bar chart .
mark bar encoding x sex y aggregate mean age transform filter sex = 'm'
mark bar encoding x sex y aggregate mean age transform

3665 . 24 . date - str , max_temperature_f - float , mean_temperature_f - float , min_temperature_f - float , max_dew_point_f - float , mean_dew_point_f - float , min_dew_point_f - float , max_humidity - float , mean_humidity - float , min_humidity - float , max_sea_level_pressure_inches - float , mean_sea_level_pressure_inches - float , min_sea_level_pressure_inches - float , max_visibility_miles - float , mean_visibility_miles - float , min_visibility_miles - float , max_wind_speed_mph - float , mean_wind_speed_mph - float , max_gust_speed_mph - float , precipitation_inches - str , cloud_cover - float , events - str , wind_dir_degrees - float , zip_code - int | what are the dates with a maximum temperature higher than 85 , and count them by a bar chart , display from low to high by the y .
mark bar encoding x date y aggregate count date transform filter max_temperature_f > 85 sort y desc bin x by weekday
mark bar encoding x date y aggregate count date transform filter max_temperature_f > 85 sort y asc bin x by year

10 . 9 . company_id - int , rank - int , company - str , headquarters - str , main_industry - str , sales_billion - float , profits_billion - float , assets_billion - float , market_value - float | show the number of companies whose headquarters are not from usa fpr each main industry in a pie chart .
mark arc encoding x main_industry y aggregate count main_industry transform filter main_industry != 'usa fpr'
mark arc encoding x main_industry y aggregate count main_industry transform filter headquarters != 'usa'

16 . 8 . season - float , player - str , position - str , country - int , team - int , draft_pick_number - int , draft_class - str , college - str | what are the draft pick numbers and draft classes for players who play the defender position ? , rank by the x in ascending .
mark bar encoding x draft_pick_number y aggregate none school transform sort x asc
mark bar encoding x draft_class y aggregate none draft_pick_number transform filter position = "defender" sort x asc

15 . 7 . apt_id - int , building_id - int , apt_type_code - str , apt_number - str , bathroom_count - int , bedroom_count - int , room_count - int | return the apartment number and the number of rooms for each apartment .
mark arc encoding x apt_type_code y aggregate count apt_type_code transform
mark bar encoding x apt_number y aggregate none room_count

3 . 8 . cust_id - int , cust_name - str , acc_type - str , acc_bal - int , no_of_loans - int , credit_score - int , branch_id - int , state - str | find the name and account balance of the customer whose name includes the letter ‘a’ visualize them using a bar chart , list in ascending by the x-axis .
mark bar encoding x acc_type y aggregate none acc_bal transform filter credit_score = "a" sort x asc
mark bar encoding x cust_name y aggregate none acc_bal transform filter cust_name like '%a%' sort x asc

34 . 8 . stuid - int , lname - str , fname - str , age - int , sex - str , major - int , advisor - int , city_code - str | what are the average ages for male and female students . plot them as bar chart .
mark bar encoding x sex y aggregate mean age transform filter sex = 'm'
mark bar encoding x sex y aggregate mean age transform

11 . 7 . id - int , train_number - int , name - str , origin - str , destination - str , time - str , interval - str | visualize a bar graph about the times and numbers of all trains that go to chennai , ordered by time .
mark bar encoding x time y aggregate none train_number transform sort x asc
mark bar encoding x time y aggregate none train_number transform filter destination = 'chennai' sort x asc

15 . 7 . apt_id - int , building_id - int , apt_type_code - str , apt_number - str , bathroom_count - int , bedroom_count - int , room_count - int | return the apartment number and the number of rooms for each apartment by a bar chart , could you list by the names in ascending ?
mark bar encoding x apt_type_code y aggregate count apt_type_code transform sort x asc
mark bar encoding x apt_number y aggregate none room_count transform sort x asc

15 . 9 . author_id - int , author_tutor_atb - int , login_name - str , password - str , personal_name - str , middle_name - str , family_name - str , gender_mf - int , address_line_1 - str | show me about the distribution of personal_name and author_id in a bar chart .
mark bar encoding x personal_name y aggregate none author_id transform sort personal_name asc
mark bar encoding x personal_name y aggregate none author_id transform sort x asc

11 . 6 . dept_code - str , dept_name - str , school_code - str , emp_num - int , dept_address - str , dept_extension - int | how many departments are in each school show bar chart , and could you list by the x-axis from high to low ?
mark bar encoding x school_code y aggregate count distinct dept_address transform sort x desc
mark bar encoding x school_code y aggregate count distinct dept_name transform sort x desc

11 . 7 . id - int , train_number - int , name - str , origin - str , destination - str , time - str , interval - str | give me the times and numbers of all trains that go to chennai , ordered by time . show bar chart .
mark bar encoding x time y aggregate none train_number transform filter destination = 'chennai' sort time asc
mark bar encoding x time y aggregate none train_number transform filter destination = 'chennai' sort x asc

5 . 3 . document_type_code - str , document_type_name - str , document_type_description - str | how many document type for different document type description ? visualize with a bar chart , display document_type_description from high to low order .
mark bar encoding x document_type_name y aggregate count document_type_name transform sort x desc
mark bar encoding x document_type_description y aggregate count document_type_description transform sort x desc

15 . 8 . student_id - int , date_of_registration - str , date_of_latest_logon - str , login_name - str , password - str , personal_name - str , middle_name - str , family_name - str | what are the dates of the latest logon of the students with family name "jaskolski" or "langosh" , and count them by a bar chart
mark bar encoding x date_of_latest_logon y aggregate count date_of_latest_logon transform filter personal_name like 'jaskolski' or 'langosh' bin x by weekday
mark bar encoding x date_of_latest_logon y aggregate count date_of_latest_logon transform filter family_name = "jaskolski" or family_name = "langosh" bin x by weekday

15 . 7 . settlement_id - int , claim_id - int , date_claim_made - str , date_claim_settled - str , amount_claimed - int , amount_settled - int , customer_policy_id - int | bin the claim date into year interval and count them for visualizing a bar chart .
mark bar encoding x date_claim_made y aggregate count date_claim_made transform bin x by year
mark bar encoding x date_claim_settled y aggregate count date_claim_settled transform bin x by year

15 . 7 . card_id - int , customer_id - int , card_type_code - str , card_number - int , date_valid_from - str , date_valid_to - str , other_card_details - int | show all card type codes and the number of cards in each type .
mark bar encoding x card_type_code y aggregate count card_type_code transform
mark arc encoding x card_type_code y aggregate count card_type_code transform

5 . 6 . party_id - int , minister - str , took_office - int , left_office - int , region_id - int , party_name - str | how many parties of the time they took office , binning the took office into weekday interval , i want to show by the y-axis in descending .
mark bar encoding x took_office y aggregate count took_office color minister transform sort y desc bin x by weekday
mark bar encoding x took_office y aggregate count took_office transform sort y desc bin x by weekday

239 . 15 . code - str , name - str , continent - str , region - str , surfacearea - float , indepyear - float , population - int , lifeexpectancy - float , gnp - float , gnpold - float , localname - str , governmentform - str , headofstate - str , capital - float , code2 - str | for each continent where the average life expectancy is shorter than 72 , draw a bar chart to show their average life expectancy .
mark bar encoding x continent y aggregate mean lifeexpectancy transform sort y asc
mark bar encoding x continent y aggregate mean lifeexpectancy transform

10 . 5 . technician_id - float , name - str , team - str , starting_year - float , age - int | a bar chart for listing the number of the names of technicians in ascending order of age .
mark bar encoding x name y aggregate count name transform sort y asc
mark bar encoding x name y aggregate count name transform sort age asc

10 . 6 . movie_id - int , title - str , year - int , director - str , budget_million - float , gross_worldwide - int | show all director names who have a movie in the year 1999 or 2000 , and count them by a bar chart , order by the y-axis in desc .
mark bar encoding x directed y aggregate count directed transform filter movie_million > 2000 sort y desc
mark bar encoding x director y aggregate count director transform filter year = 1999 or year = 2000 sort y desc

15 . 7 . card_id - int , customer_id - int , card_type_code - str , card_number - int , date_valid_from - str , date_valid_to - str , other_card_details - int | show the relationship between customer id and card id with a scatter chart .
mark point encoding x customer_id y aggregate none card_number
mark point encoding x card_id y aggregate none customer_id

15 . 5 . guest_id - int , gender_code - str , guest_first_name - str , guest_last_name - str , date_of_birth - str | return the number of the date of birth for all the guests with gender code "male" , and could you display by the x axis in asc ?
mark bar encoding x gender_code y aggregate count gender_code transform filter gender_last_name = "male" sort x asc
mark line encoding x date_of_birth y aggregate count date_of_birth transform filter gender_code = "male" sort x asc bin x by year

2000 . 4 . id - int , name - str , dept_name - str , tot_cred - int | find the number of students in each department with a bar chart .
mark bar encoding x dept_name y aggregate count dept_name transform
mark bar encoding x dept_name y aggregate count dept_name transform sort tot_cred asc

4 . 12 . team_id - int , school_id - int , team_name - str , acc_regular_season - str , acc_percent - float , acc_home - str , acc_road - str , all_games - str , all_games_percent - float , all_home - str , all_road - str , all_neutral - str | i want to know the proportion of all grams percent for each team name .
mark arc encoding x team_name y aggregate count team_name transform
mark arc encoding x team_name y aggregate none all_games_percent

3665 . 24 . date - str , max_temperature_f - float , mean_temperature_f - float , min_temperature_f - float , max_dew_point_f - float , mean_dew_point_f - float , min_dew_point_f - float , max_humidity - float , mean_humidity - float , min_humidity - float , max_sea_level_pressure_inches - float , mean_sea_level_pressure_inches - float , min_sea_level_pressure_inches - float , max_visibility_miles - float , mean_visibility_miles - float , min_visibility_miles - float , max_wind_speed_mph - float , mean_wind_speed_mph - float , max_gust_speed_mph - float , precipitation_inches - str , cloud_cover - float , events - str , wind_dir_degrees - float , zip_code - int | bar graph to show total number of cloud cover from different date , and show by the y from low to high .
mark bar encoding x date y aggregate sum cloud_cover transform sort y desc bin x by weekday
mark bar encoding x date y aggregate sum cloud_cover transform sort y asc bin x by weekday

4 . 3 . cname - str , state - str , enr - int | return a bar graph for the name of the school that has the smallest enrollment in each state , and order from high to low by the x axis .
mark bar encoding x name y aggregate min enr transform sort x desc
mark bar encoding x cname y aggregate min enr transform sort x desc

34 . 8 . stuid - int , lname - str , fname - str , age - int , sex - str , major - int , advisor - int , city_code - str | a bar chart about what are the average ages for male and female students ? , and rank by the y-axis in asc .
mark bar encoding x sex y aggregate mean age transform filter sex = 'm' sort y asc
mark bar encoding x sex y aggregate mean age transform sort y asc

11 . 6 . dept_code - str , dept_name - str , school_code - str , emp_num - int , dept_address - str , dept_extension - int | a bar chart about how many departments are in each school ? , and i want to order by the x axis from high to low .
mark bar encoding x school_code y aggregate count distinct dept_address transform sort x desc
mark bar encoding x school_code y aggregate count distinct dept_name transform sort x desc

15 . 8 . student_id - int , date_of_registration - str , date_of_latest_logon - str , login_name - str , password - str , personal_name - str , middle_name - str , family_name - str | find the latest logon date of the students whose family name is "jaskolski" or "langosh" , and count them by a bar chart
mark bar encoding x date_of_latest_logon y aggregate count date_of_latest_logon transform filter personal_name = "jaskolski" bin x by weekday
mark bar encoding x date_of_latest_logon y aggregate count date_of_latest_logon transform filter family_name = "jaskolski" or family_name = "langosh" bin x by weekday

13 . 6 . class_code - int , crs_code - str , class_section - int , class_time - str , class_room - str , prof_num - int | for each classroom with at least 2 classes , how many classes are offered , list from high to low by the y axis please .
mark bar encoding x class_room y aggregate count class_room transform filter class_room >= 2 sort y desc
mark bar encoding x class_room y aggregate count class_room transform sort y desc

58 . 8 . facid - int , lname - str , fname - str , rank - str , sex - str , phone - int , room - str , building - str | stacked bar chart of the total number for with each sex in each rank , and show names from low to high order please .
mark bar encoding x rank y aggregate count rank transform sort x asc
mark bar encoding x rank y aggregate count rank color sex transform sort x asc

15 . 8 . student_id - int , date_of_registration - str , date_of_latest_logon - str , login_name - str , password - str , personal_name - str , middle_name - str , family_name - str | what are the number of the dates of the latest logon of the students with family name "jaskolski" or "langosh" ?
mark bar encoding x date_of_latest_logon y aggregate count date_of_latest_logon transform filter personal_name like 'jaskolski' or longosh
mark bar encoding x date_of_latest_logon y aggregate count date_of_latest_logon transform filter family_name = "jaskolski" or family_name = "langosh" bin x by weekday

58 . 8 . facid - int , lname - str , fname - str , rank - str , sex - str , phone - int , room - str , building - str | show all the ranks and the number of male and female faculty for each rank in a bar chart , list by the bar in desc .
mark bar encoding x rank y aggregate count rank transform sort x desc
mark bar encoding x rank y aggregate count rank color sex transform sort x desc

58 . 8 . facid - int , lname - str , fname - str , rank - str , sex - str , phone - int , room - str , building - str | how many faculty members do we have for each rank and gender ? plot them as bar chart .
mark bar encoding x rank y aggregate count rank transform
mark bar encoding x rank y aggregate count rank color sex transform

15 . 4 . document_id - int , location_code - str , date_in_location_from - str , date_in_locaton_to - str | give me line charts of worldwide gross the number of date in location from over year date in location from by major genres location_code , and order x in asc order .
mark line encoding x date_in_locaton_to y aggregate count date_in_locaton_to color location_code transform sort x asc bin x by year
mark line encoding x date_in_location_from y aggregate count date_in_location_from color location_code transform sort x asc bin x by year

5 . 3 . document_type_code - str , document_type_name - str , document_type_description - str | bar graph to show the number of document type description from different document type description
mark bar encoding x document_type_name y aggregate count document_type_name transform
mark bar encoding x document_type_description y aggregate count document_type_description transform

10 . 9 . company_id - int , rank - int , company - str , headquarters - str , main_industry - str , sales_billion - float , profits_billion - float , assets_billion - float , market_value - float | how many companies that are not headquartered in the united states for each main industry ? show me a pie chart .
mark arc encoding x main_industry y aggregate count main_industry transform filter main_industry != 'united states'
mark arc encoding x main_industry y aggregate count main_industry transform filter headquarters != 'usa'

7 . 7 . mission_id - int , ship_id - int , code - str , launched_year - int , location - str , speed_knots - int , fate - str | compare the total number of each fate with a bar chart .
mark bar encoding x lot y aggregate count lot transform
mark bar encoding x fate y aggregate count fate transform

15 . 7 . apt_id - int , building_id - int , apt_type_code - str , apt_number - str , bathroom_count - int , bedroom_count - int , room_count - int | show me a bar chart for what are the apartment number and the room count of each apartment ?
mark bar encoding x apt_type_code y aggregate count apt_type_code transform
mark bar encoding x apt_number y aggregate none room_count

12 . 8 . station_id - int , name - str , annual_entry_exit - float , annual_interchanges - float , total_passengers - float , location - str , main_services - str , number_of_platforms - int | give me a pie chart about the proportion of the different locations .
mark arc encoding x location y aggregate sum number_of_platforms transform
mark arc encoding x location y aggregate count location transform

15 . 7 . transaction_id - int , investor_id - int , transaction_type_code - str , date_of_transaction - str , amount_of_transaction - float , share_count - float , other_details - float | what are the number of the dates of transactions with at least 100 share count or amount bigger than 100 ? , order by the y in ascending .
mark bar encoding x date_of_transaction y aggregate count date_of_transaction transform filter share_count > 100 sort y asc bin x by weekday
mark bar encoding x date_of_transaction y aggregate count date_of_transaction transform filter share_count >= 100 or amount_of_transaction >= 100 sort y asc bin x by weekday

500 . 11 . no - int , grape - str , winery - str , appelation - str , state - str , name - str , year - int , price - int , score - int , cases - float , drink - str | visualize a pie chart about the proportion of the number of grape of the wines whose price is bigger than 100 ordered by year .
mark arc encoding x grape y aggregate count grape transform filter price > 100 sort year asc
mark arc encoding x grape y aggregate count grape transform filter price > 100

15 . 7 . apt_id - int , building_id - int , apt_type_code - str , apt_number - str , bathroom_count - int , bedroom_count - int , room_count - int | return the apartment number and the number of rooms for each apartment , and i want to sort in asc by the y axis please .
mark bar encoding x apt_type_code y aggregate count apt_type_code transform sort y asc
mark bar encoding x apt_number y aggregate none room_count transform sort y asc

9 . 6 . id - int , music_festival - str , date_of_ceremony - str , category - str , volume - int , result - str | what are the number of the category of music festivals with result "awarded" ?
mark arc encoding x category y aggregate count category transform filter result = "awarded"
mark bar encoding x category y aggregate count category transform filter result = "awarded"

9 . 6 . id - int , music_festival - str , date_of_ceremony - str , category - str , volume - int , result - str | return the number of the categories of music festivals that have the result "awarded" .
mark arc encoding x category y aggregate count category transform filter result = "awarded"
mark bar encoding x category y aggregate count category transform filter result = "awarded"

10 . 6 . movie_id - int , title - str , year - int , director - str , budget_million - float , gross_worldwide - int | show all director names who have a movie in the year 1999 or 2000 , and count them by a bar chart
mark bar encoding x directed y aggregate count directed transform filter movie_million > 2000 bin x by weekday
mark bar encoding x director y aggregate count director transform filter year = 1999 or year = 2000

16 . 8 . season - float , player - str , position - str , country - int , team - int , draft_pick_number - int , draft_class - str , college - str | what are the draft pick numbers and draft classes for players who play the defender position show bar chart , and could you order by the y-axis in ascending ?
mark bar encoding x draft_pick_number y aggregate none school transform sort y asc
mark bar encoding x draft_class y aggregate none draft_pick_number transform filter position = "defender" sort y asc

4120 . 9 . player_id - str , yearid - int , votedby - str , ballots - float , needed - float , votes - float , inducted - str , category - str , needed_note - str | count yearid for visualizing a line chart , and sort x-axis in descending order .
mark line encoding x yearid y aggregate count yearid transform sort x desc
mark line encoding x yearid y aggregate count yearid transform sort x desc bin x by year

10 . 9 . company_id - int , rank - int , company - str , headquarters - str , main_industry - str , sales_billion - float , profits_billion - float , assets_billion - float , market_value - float | how many companies that are not headquartered in the united states for each main industry ? show me a bar chart , and rank by the names from low to high .
mark bar encoding x main_industry y aggregate count main_industry transform filter main_industry != 'united states' sort x asc
mark bar encoding x main_industry y aggregate count main_industry transform filter headquarters != 'usa' sort x asc

15 . 7 . apt_id - int , building_id - int , apt_type_code - str , apt_number - str , bathroom_count - int , bedroom_count - int , room_count - int | return a bar chart on what are the apartment number and the room count of each apartment ? , and rank in ascending by the y axis .
mark bar encoding x apt_type_code y aggregate count apt_type_code transform sort y asc
mark bar encoding x apt_number y aggregate none room_count transform sort y asc

15 . 5 . guest_id - int , gender_code - str , guest_first_name - str , guest_last_name - str , date_of_birth - str | return the date of birth for all the guests with gender code "male" , and count them by a bar chart , i want to order the number of date of birth from high to low order .
mark bar encoding x sex_date_of_birth y aggregate count sex_date_of_birth transform filter gender_last_name = 'male' sort y desc bin x by weekday
mark bar encoding x date_of_birth y aggregate count date_of_birth transform filter gender_code = "male" sort y desc bin x by weekday

34 . 8 . stuid - int , lname - str , fname - str , age - int , sex - str , major - int , advisor - int , city_code - str | a bar chart about what are the average ages for male and female students ? , list by the bars from low to high .
mark bar encoding x sex y aggregate mean age transform filter sex = 'm' sort x asc
mark bar encoding x sex y aggregate mean age transform sort x asc

50 . 4 . id - int , name - str , dept_name - str , salary - float | find the names and average salaries of all departments whose average salary is greater than 42000 , show by the x axis from high to low .
mark bar encoding x dept_name y aggregate mean salary transform filter dept_name > 42000 sort x desc
mark bar encoding x dept_name y aggregate mean salary transform sort x desc

15 . 7 . transaction_id - int , investor_id - int , transaction_type_code - str , date_of_transaction - str , amount_of_transaction - float , share_count - float , other_details - float | what are the number of the dates of transactions with at least 100 share count or amount bigger than 100 ?
mark bar encoding x date_of_transaction y aggregate count date_of_transaction transform filter share_count > 100 bin x by weekday
mark line encoding x date_of_transaction y aggregate count date_of_transaction transform filter share_count >= 100 or amount_of_transaction >= 100 bin x by year

15 . 8 . student_id - int , date_of_registration - str , date_of_latest_logon - str , login_name - str , password - str , personal_name - str , middle_name - str , family_name - str | a bar chart for finding the number of the latest logon date of the students whose family name is "jaskolski" or "langosh" , show in ascending by the y .
mark bar encoding x date_of_latest_logon y aggregate count date_of_latest_logon transform filter personal_name like 'jaskolski' or longosh transform sort y asc bin x by weekday
mark bar encoding x date_of_latest_logon y aggregate count date_of_latest_logon transform filter family_name = "jaskolski" or family_name = "langosh" sort y asc bin x by weekday

500 . 11 . no - int , grape - str , winery - str , appelation - str , state - str , name - str , year - int , price - int , score - int , cases - float , drink - str | give me a bar chart for the number of year of each year
mark bar encoding x year y aggregate count year transform
mark bar encoding x year y aggregate count year transform bin x by weekday

15 . 7 . transaction_id - int , investor_id - int , transaction_type_code - str , date_of_transaction - str , amount_of_transaction - float , share_count - float , other_details - float | what are the dates of transactions with at least 100 share count or amount bigger than 100 , and count them by a bar chart
mark bar encoding x date_of_transaction y aggregate count date_of_transaction transform filter share_count > 100 bin x by weekday
mark bar encoding x date_of_transaction y aggregate count date_of_transaction transform filter share_count >= 100 or amount_of_transaction >= 100 bin x by weekday

6 . 5 . exhibition_id - int , year - int , theme - str , artist_id - int , ticket_price - float | bin the year into weekday interval , then group and count by year .
mark bar encoding x year y aggregate count year transform bin x by year
mark bar encoding x year y aggregate count year transform

15 . 5 . payment_id - int , settlement_id - int , payment_method_code - str , date_payment_made - str , amount_payment - int | which payments were processed with visa ? get the payment id , the date and the amount for visualizing a scatter chart .
mark point encoding x date_payment_made y aggregate none amount_payment transform filter payment_method_code = 'visa'
mark point encoding x payment_id y aggregate none amount_payment transform filter payment_method_code = 'visa'

10 . 9 . company_id - int , rank - int , company - str , headquarters - str , main_industry - str , sales_billion - float , profits_billion - float , assets_billion - float , market_value - float | what is the rank every company in the banking industry ordered by sales and profits ? show a bar chart .
mark bar encoding x company y aggregate count company transform sort sales_billion asc
mark bar encoding x company y aggregate none rank transform filter main_industry = 'banking' sort sales_billion, asc profits_billion

16 . 8 . season - float , player - str , position - str , country - int , team - int , draft_pick_number - int , draft_class - str , college - str | what are the draft pick numbers and draft classes for players who play the defender position show bar chart , i want to rank from high to low by the y-axis .
mark bar encoding x draft_pick_number y aggregate none school transform sort y desc
mark bar encoding x draft_class y aggregate none draft_pick_number transform filter position = "defender" sort y desc

10 . 5 . technician_id - float , name - str , team - str , starting_year - float , age - int | list the number of the names of technicians in ascending order of age .
mark bar encoding x name y aggregate count name transform sort y asc
mark bar encoding x name y aggregate count name transform sort age asc

11 . 6 . dept_code - str , dept_name - str , school_code - str , emp_num - int , dept_address - str , dept_extension - int | find the number of departments in each school plot them as bar chart , show y-axis in ascending order .
mark bar encoding x school_code y aggregate count distinct dept_address transform sort count(distinct asc dept_address) asc
mark bar encoding x school_code y aggregate count distinct dept_name transform sort count(distinct asc dept_name) asc

5 . 3 . document_type_code - str , document_type_name - str , document_type_description - str | how many document type for different document type description ? visualize with a bar chart , show y-axis from high to low order .
mark bar encoding x document_type_name y aggregate count document_type_name transform sort y desc
mark bar encoding x document_type_description y aggregate count document_type_description transform sort y desc

4120 . 9 . player_id - str , yearid - int , votedby - str , ballots - float , needed - float , votes - float , inducted - str , category - str , needed_note - str | i want to see trend of the number of yearid by yearid , and display from low to high by the x-axis .
mark line encoding x yearid y aggregate count yearid transform sort x asc bin x by yearid
mark line encoding x yearid y aggregate count yearid transform sort x asc bin x by year

2000 . 4 . id - int , name - str , dept_name - str , tot_cred - int | how many students in each department ? give me a bar chart .
mark bar encoding x dept_name y aggregate count dept_name transform
mark bar encoding x dept_name y aggregate count dept_name transform sort tot_cred asc

15 . 5 . guest_id - int , gender_code - str , guest_first_name - str , guest_last_name - str , date_of_birth - str | a line chart for returning the number of the date of birth for all the guests with gender code "male" .
mark line encoding x gender_code y aggregate count gender_code transform filter customer_last_name = "male"
mark line encoding x date_of_birth y aggregate count date_of_birth transform filter gender_code = "male" bin x by year

15 . 8 . player_id - int , name - str , position - str , club_id - int , apps - float , tries - float , goals - str , points - float | what is the number of players who have points less than 30 for each position ?
mark arc encoding x position y aggregate count position transform filter points < 30
mark bar encoding x position y aggregate count position transform filter points < 30

107 . 11 . employee_id - int , first_name - str , last_name - str , email - str , phone_number - str , hire_date - str , job_id - str , salary - int , commission_pct - float , manager_id - int , department_id - int | return a scatter on what is the average salary of employees who have a commission percentage that is not null ?
mark point encoding x mean salary y aggregate none commission_pct transform filter commission_pct != "null"
mark point encoding x department_id y aggregate mean salary transform filter commission_pct != "null"

16 . 8 . season - float , player - str , position - str , country - int , team - int , draft_pick_number - int , draft_class - str , college - str | show the draft pick numbers and draft classes of players whose positions are defenders show bar chart , list from low to high by the y axis please .
mark bar encoding x position y aggregate count position transform filter position = "usa" sort y asc
mark bar encoding x draft_class y aggregate none draft_pick_number transform filter position = "defender" sort y asc

34 . 8 . stuid - int , lname - str , fname - str , age - int , sex - str , major - int , advisor - int , city_code - str | show the average age for male and female students with a bar chart .
mark bar encoding x sex y aggregate mean age transform filter sex = 'm'
mark bar encoding x sex y aggregate mean age transform

16 . 8 . season - float , player - str , position - str , country - int , team - int , draft_pick_number - int , draft_class - str , college - str | show me a bar chart for what are the draft pick numbers and draft classes for players who play the defender position ? , could you display in desc by the y ?
mark bar encoding x draft_pick_number y aggregate none school transform sort y desc
mark bar encoding x draft_class y aggregate none draft_pick_number transform filter position = "defender" sort y desc

16 . 8 . season - float , player - str , position - str , country - int , team - int , draft_pick_number - int , draft_class - str , college - str | show me a bar chart for what are the draft pick numbers and draft classes for players who play the defender position ? , display in descending by the draft_class .
mark bar encoding x draft_pick_number y aggregate none school transform sort x desc
mark bar encoding x draft_class y aggregate none draft_pick_number transform filter position = "defender" sort x desc

6 . 4 . crs_code - str , dept_code - str , crs_description - str , crs_credit - float | how many credits does the department offer ? , and order from high to low by the x-axis .
mark bar encoding x dept_code y aggregate count dept_code transform sort x desc
mark bar encoding x dept_code y aggregate sum crs_credit transform sort x desc

15 . 8 . student_id - int , date_of_registration - str , date_of_latest_logon - str , login_name - str , password - str , personal_name - str , middle_name - str , family_name - str | what are the dates of the latest logon of the students with family name "jaskolski" or "langosh" , and count them by a bar chart , and i want to order in asc by the total number .
mark bar encoding x date_of_latest_logon y aggregate count date_of_latest_logon transform filter personal_name like 'jaskolski' or 'langosh' sort y asc bin x by weekday
mark bar encoding x date_of_latest_logon y aggregate count date_of_latest_logon transform filter family_name = "jaskolski" or family_name = "langosh" sort y asc bin x by weekday

10 . 9 . company_id - int , rank - int , company - str , headquarters - str , main_industry - str , sales_billion - float , profits_billion - float , assets_billion - float , market_value - float | how many companies that are not headquartered in the united states for each main industry ? show me a bar chart .
mark bar encoding x main_industry y aggregate count main_industry transform filter main_industry != 'united states'
mark bar encoding x main_industry y aggregate count main_industry transform filter headquarters != 'usa'

15 . 7 . apt_id - int , building_id - int , apt_type_code - str , apt_number - str , bathroom_count - int , bedroom_count - int , room_count - int | show me a bar chart for what are the apartment number and the room count of each apartment ? , and could you show y axis from high to low order please ?
mark bar encoding x apt_type_code y aggregate count apt_type_code transform sort y desc
mark bar encoding x apt_number y aggregate none room_count transform sort y desc

16 . 8 . season - float , player - str , position - str , country - int , team - int , draft_pick_number - int , draft_class - str , college - str | what are the draft pick numbers and draft classes for players who play the defender position ? , and list by the draft_class from high to low .
mark bar encoding x draft_pick_number y aggregate none draft_pick_number transform sort x desc
mark bar encoding x draft_class y aggregate none draft_pick_number transform filter position = "defender" sort x desc

16 . 8 . season - float , player - str , position - str , country - int , team - int , draft_pick_number - int , draft_class - str , college - str | show the draft pick numbers and draft classes of players whose positions are defenders in a bar chart .
mark bar encoding x position y aggregate count position transform
mark bar encoding x draft_class y aggregate none draft_pick_number transform filter position = "defender"

15 . 7 . transaction_id - int , investor_id - int , transaction_type_code - str , date_of_transaction - str , amount_of_transaction - float , share_count - float , other_details - float | a line chart for what are the number of the dates of transactions with at least 100 share count or amount bigger than 100 ? , and display by the date_of_transaction in asc .
mark line encoding x date_of_transaction y aggregate count date_of_transaction transform filter share_count > 100 sort x asc bin x by year
mark line encoding x date_of_transaction y aggregate count date_of_transaction transform filter share_count >= 100 or amount_of_transaction >= 100 sort x asc bin x by year

6 . 4 . crs_code - str , dept_code - str , crs_description - str , crs_credit - float | display a bar chart for how many credits does the department offer ? , and i want to show by the x-axis in descending .
mark bar encoding x dept_code y aggregate count dept_code transform sort x desc
mark bar encoding x dept_code y aggregate sum crs_credit transform sort x desc

15 . 5 . guest_id - int , gender_code - str , guest_first_name - str , guest_last_name - str , date_of_birth - str | what are dates of birth of all the guests whose gender is "male" , and count them by a line chart , and i want to show by the x-axis from high to low .
mark line encoding x salary_last_name y aggregate count salary_code transform filter gender_code = "male" sort x desc bin x by year
mark line encoding x date_of_birth y aggregate count date_of_birth transform filter gender_code = "male" sort x desc bin x by year

4120 . 9 . player_id - str , yearid - int , votedby - str , ballots - float , needed - float , votes - float , inducted - str , category - str , needed_note - str | i want to see trend of the number of yearid by yearid , and display x-axis in ascending order .
mark line encoding x yearid y aggregate count yearid transform sort x asc
mark line encoding x yearid y aggregate count yearid transform sort x asc bin x by year

6 . 5 . exhibition_id - int , year - int , theme - str , artist_id - int , ticket_price - float | give a bar chart that bins year into weekday interval , group by year and count them .
mark bar encoding x year y aggregate count year transform bin x by year
mark bar encoding x year y aggregate count year transform

15 . 8 . student_id - int , date_of_registration - str , date_of_latest_logon - str , login_name - str , password - str , personal_name - str , middle_name - str , family_name - str | find the number of the latest logon date of the students whose family name is "jaskolski" or "langosh" .
mark bar encoding x date_of_latest_logon y aggregate count date_of_latest_logon transform filter personal_name != "jaskolski" or "langosh" bin x by weekday
mark bar encoding x date_of_latest_logon y aggregate count date_of_latest_logon transform filter family_name = "jaskolski" or family_name = "langosh" bin x by weekday

12 . 8 . station_id - int , name - str , annual_entry_exit - float , annual_interchanges - float , total_passengers - float , location - str , main_services - str , number_of_platforms - int | i want to know the proportion of the total number for each location .
mark arc encoding x location y aggregate sum number_of_platforms transform
mark arc encoding x location y aggregate count location transform

5 . 3 . document_type_code - str , document_type_name - str , document_type_description - str | show the number of document type for different document type description in a bar chart , and show y-axis in ascending order .
mark bar encoding x document_type_name y aggregate count document_type_name transform sort y asc
mark bar encoding x document_type_description y aggregate count document_type_description transform sort y asc

50 . 4 . id - int , name - str , dept_name - str , salary - float | what are the names and average salaries for departments with average salary higher than 42000 plot them as bar chart , and display from high to low by the x .
mark bar encoding x name y aggregate mean salary transform filter salary > 42000 sort x desc
mark bar encoding x dept_name y aggregate mean salary transform sort x desc

16 . 8 . season - float , player - str , position - str , country - int , team - int , draft_pick_number - int , draft_class - str , college - str | show me a bar chart for what are the draft pick numbers and draft classes for players who play the defender position ? , could you list by the x axis in ascending ?
mark bar encoding x draft_pick_number y aggregate none school transform sort x asc
mark bar encoding x draft_class y aggregate none draft_pick_number transform filter position = "defender" sort x asc

20 . 6 . student_id - int , address_id - int , date_address_from - str , date_address_to - str , monthly_rental - float , other_details - str | give me the trend about the average of monthly_rental over date_address_to , and group by attribute date_address_to .
mark line encoding x date_address_to y aggregate mean monthly_rental color other_details transform sort monthly_rental desc
mark line encoding x date_address_to y aggregate mean monthly_rental transform sort monthly_rental desc

10 . 6 . movie_id - int , title - str , year - int , director - str , budget_million - float , gross_worldwide - int | which directors had a movie in either 1999 or 2000 , and count them by a bar chart , could you order x-axis in desc order ?
mark bar encoding x directed y aggregate count directed transform filter budget_million > 2000 sort x desc
mark bar encoding x director y aggregate count director transform filter year = 1999 or year = 2000 sort x desc

2944 . 9 . year - int , league_id - str , team_id - str , park_id - str , span_first - str , span_last - str , games - int , openings - int , attendance - int | visualize the general trend of how many year over the year .
mark line encoding x year y aggregate count year transform
mark line encoding x year y aggregate count year transform bin x by year

10 . 9 . company_id - int , rank - int , company - str , headquarters - str , main_industry - str , sales_billion - float , profits_billion - float , assets_billion - float , market_value - float | find the market values of the companies in the banking industry order by their sales and profits in billion with a bar chart .
mark bar encoding x company y aggregate none market_value transform sort sales_billion asc
mark bar encoding x company y aggregate none market_value transform filter main_industry = 'banking' sort sales_billion asc profits_billion

15 . 7 . apt_id - int , building_id - int , apt_type_code - str , apt_number - str , bathroom_count - int , bedroom_count - int , room_count - int | return a bar chart on what are the apartment number and the room count of each apartment ?
mark bar encoding x apt_type_code y aggregate count apt_type_code transform
mark bar encoding x apt_number y aggregate none room_count

34 . 8 . stuid - int , lname - str , fname - str , age - int , sex - str , major - int , advisor - int , city_code - str | show the average age for male and female students visualize by bar chart , rank x-axis in ascending order .
mark bar encoding x sex y aggregate mean age transform filter sex = 'm' sort x asc
mark bar encoding x sex y aggregate mean age transform sort x asc

15 . 7 . apt_id - int , building_id - int , apt_type_code - str , apt_number - str , bathroom_count - int , bedroom_count - int , room_count - int | return a bar chart on what are the apartment number and the room count of each apartment ? , list in ascending by the bars .
mark bar encoding x apt_type_code y aggregate count apt_type_code transform sort x asc
mark bar encoding x apt_number y aggregate none room_count transform sort x asc

16 . 8 . season - float , player - str , position - str , country - int , team - int , draft_pick_number - int , draft_class - str , college - str | show the draft pick numbers and draft classes of players whose positions are defenders . show bar chart .
mark bar encoding x position y aggregate count position transform
mark bar encoding x draft_class y aggregate none draft_pick_number transform filter position = "defender"

15 . 9 . author_id - int , author_tutor_atb - int , login_name - str , password - str , personal_name - str , middle_name - str , family_name - str , gender_mf - int , address_line_1 - str | return a bar chart about the distribution of personal_name and author_id .
mark bar encoding x personal_name y aggregate none author_id transform sort personal_name asc
mark bar encoding x personal_name y aggregate none author_id transform sort x asc

10 . 6 . movie_id - int , title - str , year - int , director - str , budget_million - float , gross_worldwide - int | which directors had a movie in either 1999 or 2000 , and count them by a bar chart
mark bar encoding x directed y aggregate count directed transform filter budget_million > 2000
mark bar encoding x director y aggregate count director transform filter year = 1999 or year = 2000

500 . 11 . no - int , grape - str , winery - str , appelation - str , state - str , name - str , year - int , price - int , score - int , cases - float , drink - str | give me a pie chart about the proportion of the number of grape of the wines whose price is bigger than 100 ordered by year .
mark arc encoding x grape y aggregate count grape transform filter price > 100 sort year asc
mark arc encoding x grape y aggregate count grape transform filter price > 100

500 . 11 . no - int , grape - str , winery - str , appelation - str , state - str , name - str , year - int , price - int , score - int , cases - float , drink - str | give me a bar chart for the number of year of each year , order by the how many year in ascending .
mark bar encoding x year y aggregate count year transform sort y asc
mark bar encoding x year y aggregate count year transform sort y asc bin x by weekday

15 . 5 . guest_id - int , gender_code - str , guest_first_name - str , guest_last_name - str , date_of_birth - str | return the number of the date of birth for all the guests with gender code "male" , list x axis in descending order .
mark bar encoding x gender_code y aggregate count gender_code transform filter gender_last_name = "male" sort x desc
mark line encoding x date_of_birth y aggregate count date_of_birth transform filter gender_code = "male" sort x desc bin x by year

10 . 9 . company_id - int , rank - int , company - str , headquarters - str , main_industry - str , sales_billion - float , profits_billion - float , assets_billion - float , market_value - float | show the number of companies whose headquarters are not from usa fpr each main industry in a bar chart , display bars in descending order .
mark bar encoding x main_industry y aggregate count main_industry transform filter main_industry != 'usa fpr' sort x desc
mark bar encoding x main_industry y aggregate count main_industry transform filter headquarters != 'usa' sort x desc

15 . 8 . student_id - int , date_of_registration - str , date_of_latest_logon - str , login_name - str , password - str , personal_name - str , middle_name - str , family_name - str | a bar chart for what are the number of the dates of the latest logon of the students with family name "jaskolski" or "langosh" ?
mark bar encoding x date_of_latest_logon y aggregate count date_of_latest_logon transform filter personal_name like 'jaskolski' or longosh
mark bar encoding x date_of_latest_logon y aggregate count date_of_latest_logon transform filter family_name = "jaskolski" or family_name = "langosh" bin x by weekday

34 . 8 . stuid - int , lname - str , fname - str , age - int , sex - str , major - int , advisor - int , city_code - str | show the average age for male and female students visualize by bar chart , sort by the names from high to low .
mark bar encoding x sex y aggregate mean age transform filter sex = 'm' sort x desc
mark bar encoding x sex y aggregate mean age transform sort x desc

11 . 4 . code - int , name - str , price - int , manufacturer - int | draw a pie chart for what are the names and prices of products that cost at least 180 , sorted by price decreasing and name ascending ?
mark arc encoding x name y aggregate none price transform filter price >= 180 sort y desc name asc
mark arc encoding x name y aggregate none price transform filter price >= 180 name asc

6 . 9 . roller_coaster_id - int , name - str , park - str , country_id - int , length - float , height - float , speed - float , opened - str , status - str | scatter plot to show length on x axis and height on y axis .
mark point encoding x long y aggregate none height
mark point encoding x length y aggregate none height

15 . 9 . problem_log_id - int , assigned_to_staff_id - int , problem_id - int , problem_category_code - str , problem_status_code - str , log_entry_date - str , log_entry_description - str , log_entry_fix - str , other_log_details - str | find all the ids and dates of the logs for the problem whose id is 10 plot them as bar chart , i want to list in descending by the log_entry_date .
mark bar encoding x log_entry_description y aggregate none log_entry_description transform sort x desc
mark bar encoding x log_entry_date y aggregate none problem_log_id transform filter problem_id = 10 sort x desc

16 . 8 . season - float , player - str , position - str , country - int , team - int , draft_pick_number - int , draft_class - str , college - str | show me a bar chart for what are the draft pick numbers and draft classes for players who play the defender position ? , and list from low to high by the y axis please .
mark bar encoding x draft_pick_number y aggregate none school transform sort y asc
mark bar encoding x draft_class y aggregate none draft_pick_number transform filter position = "defender" sort y asc

9 . 2 . master_customer_id - int , cmi_details - str | list all information about customer master index , and sort them by details in descending order in a bar chart .
mark bar encoding x master_customer_id y aggregate none customer_ master_index transform sort x desc
mark bar encoding x cmi_details y aggregate none master_customer_id transform sort x desc

15 . 7 . apt_id - int , building_id - int , apt_type_code - str , apt_number - str , bathroom_count - int , bedroom_count - int , room_count - int | return the apartment number and the number of rooms for each apartment , list in descending by the y-axis .
mark bar encoding x apt_type_code y aggregate count apt_type_code transform sort y desc
mark bar encoding x apt_number y aggregate none room_count transform sort y desc

6 . 4 . crs_code - str , dept_code - str , crs_description - str , crs_credit - float | how many credits does the department offer show bar chart , and sort in ascending by the y-axis .
mark bar encoding x dept_code y aggregate count dept_code transform sort y asc
mark bar encoding x dept_code y aggregate sum crs_credit transform sort y asc

15 . 7 . apt_id - int , building_id - int , apt_type_code - str , apt_number - str , bathroom_count - int , bedroom_count - int , room_count - int | give me a bar chart for room_count of each apt number , and order in descending by the y-axis .
mark bar encoding x apt_type_code y aggregate none room_count transform sort y desc
mark bar encoding x apt_number y aggregate none room_count transform sort y desc

58 . 8 . facid - int , lname - str , fname - str , rank - str , sex - str , phone - int , room - str , building - str | show all the ranks and the number of male and female faculty for each rank in a bar chart .
mark bar encoding x rank y aggregate count rank transform
mark bar encoding x rank y aggregate count rank color sex transform

10 . 6 . movie_id - int , title - str , year - int , director - str , budget_million - float , gross_worldwide - int | which directors had a movie in either 1999 or 2000 , and count them by a bar chart , and show in asc by the director .
mark bar encoding x directed y aggregate count directed transform filter budget_million > 2000 sort x asc
mark bar encoding x director y aggregate count director transform filter year = 1999 or year = 2000 sort x asc

7 . 7 . mission_id - int , ship_id - int , code - str , launched_year - int , location - str , speed_knots - int , fate - str | compare the total number of each fate with a bar chart , show from high to low by the x axis .
mark bar encoding x nominee y aggregate count nominee transform sort x desc
mark bar encoding x fate y aggregate count fate transform sort x desc

15 . 7 . apt_id - int , building_id - int , apt_type_code - str , apt_number - str , bathroom_count - int , bedroom_count - int , room_count - int | return a bar chart on what are the apartment number and the room count of each apartment ? , and rank by the y-axis from high to low .
mark bar encoding x apt_type_code y aggregate count apt_type_code transform sort y desc
mark bar encoding x apt_number y aggregate none room_count transform sort y desc

10 . 5 . cinema_id - int , name - str , openning_year - int , capacity - int , location - str | what is the sum of capacity of cinemas open for each year ? return a line chart .
mark line encoding x openning_year y aggregate sum capacity transform
mark line encoding x openning_year y aggregate sum capacity transform bin x by year

15 . 8 . student_id - int , date_of_registration - str , date_of_latest_logon - str , login_name - str , password - str , personal_name - str , middle_name - str , family_name - str | find the latest logon date of the students whose family name is "jaskolski" or "langosh" , and count them by a bar chart , i want to sort in ascending by the y axis .
mark bar encoding x date_of_latest_logon y aggregate count date_of_latest_logon transform filter personal_name = "jaskolski" or longosh transform sort y asc bin x by weekday
mark bar encoding x date_of_latest_logon y aggregate count date_of_latest_logon transform filter family_name = "jaskolski" or family_name = "langosh" sort y asc bin x by weekday

15 . 13 . dog_id - int , owner_id - int , abandoned_yn - int , breed_code - str , size_code - str , name - str , age - int , date_of_birth - str , gender - int , weight - float , date_arrived - str , date_adopted - str , date_departed - str | list the dog name and weight of the dogs who have been abandoned in a pie chart .
mark arc encoding x name y aggregate none weight transform filter abandoned_yn = 1
mark arc encoding x name y aggregate none age transform filter abandoned_yn = 1

4120 . 9 . player_id - str , yearid - int , votedby - str , ballots - float , needed - float , votes - float , inducted - str , category - str , needed_note - str | i want to see trend of the number of yearid by yearid
mark line encoding x yearid y aggregate count yearid transform
mark line encoding x yearid y aggregate count yearid transform bin x by year

16 . 8 . season - float , player - str , position - str , country - int , team - int , draft_pick_number - int , draft_class - str , college - str | show me a bar chart for what are the draft pick numbers and draft classes for players who play the defender position ?
mark bar encoding x draft_pick_number y aggregate none school transform
mark bar encoding x draft_class y aggregate none draft_pick_number transform filter position = "defender"

10 . 3 . stuid - int , gameid - int , hours_played - int | a scatter chart about what are ids and total number of hours played for each game ?
mark point encoding x id y aggregate sum hread transform
mark point encoding x gameid y aggregate sum hours_played transform

15 . 4 . document_id - int , location_code - str , date_in_location_from - str , date_in_locaton_to - str | give me line charts of worldwide gross the number of date in location from over year date in location from by major genres location_code , display date_in_location_from from low to high order please .
mark line encoding x date_in_locaton_to y aggregate count date_in_locaton_to color location_code transform sort x asc bin x by year
mark line encoding x date_in_location_from y aggregate count date_in_location_from color location_code transform sort x asc bin x by year

15 . 5 . guest_id - int , gender_code - str , guest_first_name - str , guest_last_name - str , date_of_birth - str | what are the number of dates of birth of all the guests whose gender is "male" ? , list by the y-axis in descending .
mark bar encoding x sex_code y aggregate count sex_code transform filter sex_last_name = "male" sort y desc bin x by weekday
mark bar encoding x date_of_birth y aggregate count date_of_birth transform filter gender_code = "male" sort y desc bin x by weekday

6 . 5 . exhibition_id - int , year - int , theme - str , artist_id - int , ticket_price - float | show me how many year by year in a histogram , could you display y axis in asc order ?
mark bar encoding x year y aggregate count year transform sort y asc
mark bar encoding x year y aggregate count year transform sort y asc bin x by weekday

34 . 8 . stuid - int , lname - str , fname - str , age - int , sex - str , major - int , advisor - int , city_code - str | a bar chart about what are the average ages for male and female students ? , and could you rank by the bars in desc ?
mark bar encoding x sex y aggregate mean age transform filter sex = 'm' sort x desc
mark bar encoding x sex y aggregate mean age transform sort x desc

7 . 7 . mission_id - int , ship_id - int , code - str , launched_year - int , location - str , speed_knots - int , fate - str | show the number of fate from each fate , and could you order y-axis from low to high order ?
mark bar encoding x lot y aggregate count lot transform sort y asc
mark bar encoding x fate y aggregate count fate transform sort y asc

6 . 4 . crs_code - str , dept_code - str , crs_description - str , crs_credit - float | display a bar chart for how many credits does the department offer ? , and rank in ascending by the y-axis please .
mark bar encoding x dept_code y aggregate count dept_code transform sort y asc
mark bar encoding x dept_code y aggregate sum crs_credit transform sort y asc

15 . 9 . author_id - int , author_tutor_atb - int , login_name - str , password - str , personal_name - str , middle_name - str , family_name - str , gender_mf - int , address_line_1 - str | visualize a bar chart about the distribution of personal_name and author_id .
mark bar encoding x personal_name y aggregate none author_id transform sort personal_name asc
mark bar encoding x personal_name y aggregate none author_id transform sort x asc

34 . 8 . stuid - int , lname - str , fname - str , age - int , sex - str , major - int , advisor - int , city_code - str | a bar chart about what are the average ages for male and female students ? , and order y axis in desc order .
mark bar encoding x sex y aggregate mean age transform filter sex = 'm' sort y desc
mark bar encoding x sex y aggregate mean age transform sort y desc

15 . 7 . apt_id - int , building_id - int , apt_type_code - str , apt_number - str , bathroom_count - int , bedroom_count - int , room_count - int | return the apartment number and the number of rooms for each apartment , and display by the bar in asc .
mark bar encoding x apt_type_code y aggregate count apt_type_code transform sort x asc
mark bar encoding x apt_number y aggregate none room_count transform sort x asc

15 . 5 . guest_id - int , gender_code - str , guest_first_name - str , guest_last_name - str , date_of_birth - str | a line chart for returning the number of the date of birth for all the guests with gender code "male" , sort by the x in descending .
mark line encoding x date_of_birth y aggregate count date_of_birth transform filter customer_last_name = "male" sort x desc
mark line encoding x date_of_birth y aggregate count date_of_birth transform filter gender_code = "male" sort x desc bin x by year

15 . 4 . account_id - int , customer_id - int , account_name - int , other_account_details - str | visualize a scatter chart on how many accounts are there for each customer id ?
mark point encoding x account_id y aggregate count customer_id transform
mark point encoding x customer_id y aggregate count customer_id transform

50 . 4 . id - int , name - str , dept_name - str , salary - float | find the names and average salaries of all departments whose average salary is greater than 42000 , and rank by the dept_name in ascending .
mark bar encoding x dept_name y aggregate mean salary transform filter dept_name > 42000 sort x asc
mark bar encoding x dept_name y aggregate mean salary transform sort x asc

30 . 3 . building - str , room_number - int , capacity - int | find the number of rooms with more than 50 capacity for each building show bar chart , display y axis in asc order .
mark bar encoding x building y aggregate none capacity transform filter capacity > 50 sort y asc
mark bar encoding x building y aggregate count building transform filter capacity > 50 sort y asc

15 . 7 . card_id - int , customer_id - int , card_type_code - str , card_number - int , date_valid_from - str , date_valid_to - str , other_card_details - int | what is the relationship between customer id and card id ? return a scatter chart .
mark point encoding x customer_id y aggregate none card_number
mark point encoding x card_id y aggregate none customer_id

7 . 7 . mission_id - int , ship_id - int , code - str , launched_year - int , location - str , speed_knots - int , fate - str | what is the total number of each fate ? give me the result in a bar graph .
mark bar encoding x lot y aggregate count lot transform
mark bar encoding x fate y aggregate count fate transform

7 . 7 . mission_id - int , ship_id - int , code - str , launched_year - int , location - str , speed_knots - int , fate - str | compare the total number of each fate with a bar chart , and display y-axis from low to high order .
mark bar encoding x lot y aggregate count lot transform sort y asc
mark bar encoding x fate y aggregate count fate transform sort y asc

5 . 3 . document_type_code - str , document_type_name - str , document_type_description - str | show the number of document type for different document type description in a bar chart , and show in ascending by the x-axis .
mark bar encoding x document_type_name y aggregate count document_type_name transform sort x asc
mark bar encoding x document_type_description y aggregate count document_type_description transform sort x asc

11 . 6 . dept_code - str , dept_name - str , school_code - str , emp_num - int , dept_address - str , dept_extension - int | how many departments are in each school show bar chart , could you sort by the total number in descending ?
mark bar encoding x school_code y aggregate count distinct dept_address transform sort count(distinct asc dept_address) desc
mark bar encoding x school_code y aggregate count distinct dept_name transform sort count(distinct asc dept_name) desc

58 . 8 . facid - int , lname - str , fname - str , rank - str , sex - str , phone - int , room - str , building - str | how many faculty members do we have for each rank and gender ? plot them as bar chart , i want to sort y axis in asc order .
mark bar encoding x rank y aggregate count rank transform sort y asc
mark bar encoding x rank y aggregate count rank color sex transform sort y asc

15 . 8 . student_id - int , date_of_registration - str , date_of_latest_logon - str , login_name - str , password - str , personal_name - str , middle_name - str , family_name - str | what are the number of the dates of the latest logon of the students with family name "jaskolski" or "langosh" ? , and show in descending by the y .
mark bar encoding x date_of_latest_logon y aggregate count date_of_latest_logon transform filter personal_name like 'jaskolski' or 'langosh' sort y desc bin x by weekday
mark bar encoding x date_of_latest_logon y aggregate count date_of_latest_logon transform filter family_name = "jaskolski" or family_name = "langosh" sort y desc bin x by weekday

15 . 13 . dog_id - int , owner_id - int , abandoned_yn - int , breed_code - str , size_code - str , name - str , age - int , date_of_birth - str , gender - int , weight - float , date_arrived - str , date_adopted - str , date_departed - str | create a bar chart showing the number of date departed across date departed , and sort in descending by the total number .
mark bar encoding x date_departed y aggregate count date_departed transform sort y desc
mark bar encoding x date_departed y aggregate count date_departed transform sort y desc bin x by weekday

58 . 8 . facid - int , lname - str , fname - str , rank - str , sex - str , phone - int , room - str , building - str | how many faculty members do we have for each rank and gender ? plot them as bar chart , rank by the y-axis in descending please .
mark bar encoding x rank y aggregate count rank transform sort y desc
mark bar encoding x rank y aggregate count rank color sex transform sort y desc

58 . 8 . facid - int , lname - str , fname - str , rank - str , sex - str , phone - int , room - str , building - str | show all the ranks and the number of male and female faculty for each rank in a bar chart , rank by the y in ascending .
mark bar encoding x rank y aggregate count rank transform sort y asc
mark bar encoding x rank y aggregate count rank color sex transform sort y asc

10 . 9 . company_id - int , rank - int , company - str , headquarters - str , main_industry - str , sales_billion - float , profits_billion - float , assets_billion - float , market_value - float | find the rank of the companies in the banking industry order by their sales and profits in billion with a bar chart .
mark bar encoding x company y aggregate none company transform sort sales_billion asc
mark bar encoding x company y aggregate none rank transform filter main_industry = 'banking' sort sales_billion, asc profits_billion

3665 . 24 . date - str , max_temperature_f - float , mean_temperature_f - float , min_temperature_f - float , max_dew_point_f - float , mean_dew_point_f - float , min_dew_point_f - float , max_humidity - float , mean_humidity - float , min_humidity - float , max_sea_level_pressure_inches - float , mean_sea_level_pressure_inches - float , min_sea_level_pressure_inches - float , max_visibility_miles - float , mean_visibility_miles - float , min_visibility_miles - float , max_wind_speed_mph - float , mean_wind_speed_mph - float , max_gust_speed_mph - float , precipitation_inches - str , cloud_cover - float , events - str , wind_dir_degrees - float , zip_code - int | give me the number of the dates when the max temperature was higher than 85 , sort the number of date in descending order .
mark line encoding x date y aggregate count date transform filter max_temperature_f > 85 sort y desc bin x by weekday
mark bar encoding x date y aggregate count date transform filter max_temperature_f > 85 sort y desc bin x by year

3 . 8 . cust_id - int , cust_name - str , acc_type - str , acc_bal - int , no_of_loans - int , credit_score - int , branch_id - int , state - str | can you compare the account balances of customers with the letter 'a' in their names using a bar graph , and show from low to high by the y axis .
mark bar encoding x acc_type y aggregate none acc_bal transform filter credit_score = 'a' sort y asc
mark bar encoding x cust_name y aggregate none acc_bal transform filter cust_name like '%a%' sort y asc

9 . 6 . id - int , music_festival - str , date_of_ceremony - str , category - str , volume - int , result - str | return the number of music festivals of each category .
mark arc encoding x category y aggregate count category transform
mark bar encoding x category y aggregate count category transform

34 . 8 . stuid - int , lname - str , fname - str , age - int , sex - str , major - int , advisor - int , city_code - str | show the average age for male and female students with a bar chart , list y in asc order .
mark bar encoding x sex y aggregate mean age transform filter sex = 'm' sort y asc
mark bar encoding x sex y aggregate mean age transform sort y asc

15 . 7 . apt_id - int , building_id - int , apt_type_code - str , apt_number - str , bathroom_count - int , bedroom_count - int , room_count - int | return the apartment number and the number of rooms for each apartment by a bar chart , and list by the room_count in asc .
mark bar encoding x apt_type_code y aggregate count apt_type_code transform sort x asc
mark bar encoding x apt_number y aggregate none room_count transform sort y asc

11 . 6 . dept_code - str , dept_name - str , school_code - str , emp_num - int , dept_address - str , dept_extension - int | find the number of departments in each school plot them as bar chart , order in descending by the bars .
mark bar encoding x school_code y aggregate count distinct dept_address transform sort x desc
mark bar encoding x school_code y aggregate count distinct dept_name transform sort x desc

3 . 8 . cust_id - int , cust_name - str , acc_type - str , acc_bal - int , no_of_loans - int , credit_score - int , branch_id - int , state - str | visualize a bar chart for what are the names and account balances of customers with the letter 'a' in their names ? , show by the bar in descending .
mark bar encoding x acc_type y aggregate none acc_bal transform filter credit_score = 'a' sort x desc
mark bar encoding x cust_name y aggregate none acc_bal transform filter cust_name like '%a%' sort x desc

3 . 8 . cust_id - int , cust_name - str , acc_type - str , acc_bal - int , no_of_loans - int , credit_score - int , branch_id - int , state - str | visualize a bar chart for what are the names and account balances of customers with the letter 'a' in their names ? , rank names from low to high order .
mark bar encoding x acc_type y aggregate none acc_bal transform filter credit_score = 'a' sort x asc
mark bar encoding x cust_name y aggregate none acc_bal transform filter cust_name like '%a%' sort x asc

10 . 6 . movie_id - int , title - str , year - int , director - str , budget_million - float , gross_worldwide - int | which directors had a movie in either 1999 or 2000 , and count them by a bar chart , i want to order y from low to high order .
mark bar encoding x directed y aggregate count directed transform filter budget_million > 2000 sort y asc
mark bar encoding x director y aggregate count director transform filter year = 1999 or year = 2000 sort y asc

15 . 7 . apt_id - int , building_id - int , apt_type_code - str , apt_number - str , bathroom_count - int , bedroom_count - int , room_count - int | return a bar chart on what are the apartment number and the room count of each apartment ? , i want to rank from high to low by the bars please .
mark bar encoding x apt_type_code y aggregate count apt_type_code transform sort x desc
mark bar encoding x apt_number y aggregate none room_count transform sort x desc

15 . 5 . product_id - int , product_name - str , product_price - int , product_description - float , other_product_service_details - float | for each distinct product name , show its average product price .
mark arc encoding x product_name y aggregate mean product_price transform
mark bar encoding x product_name y aggregate mean product_price transform

15 . 7 . apt_id - int , building_id - int , apt_type_code - str , apt_number - str , bathroom_count - int , bedroom_count - int , room_count - int | show me a bar chart for what are the apartment number and the room count of each apartment ? , and i want to sort in asc by the y axis please .
mark bar encoding x apt_type_code y aggregate count apt_type_code transform sort y asc
mark bar encoding x apt_number y aggregate none room_count transform sort y asc

15 . 7 . transaction_id - int , investor_id - int , transaction_type_code - str , date_of_transaction - str , amount_of_transaction - float , share_count - float , other_details - float | what are the dates of transactions with at least 100 share count or amount bigger than 100 , and count them by a line chart
mark line encoding x date_of_transaction y aggregate count date_of_transaction transform filter share_count > 100 bin x by year
mark line encoding x date_of_transaction y aggregate count date_of_transaction transform filter share_count >= 100 or amount_of_transaction >= 100 bin x by year

107 . 11 . employee_id - int , first_name - str , last_name - str , email - str , phone_number - str , hire_date - str , job_id - str , salary - int , commission_pct - float , manager_id - int , department_id - int | scatter . what is the average salary of employees who have a commission percentage that is not null ?
mark point encoding x mean salary y aggregate none commission_pct transform filter commission_pct != "null"
mark point encoding x department_id y aggregate mean salary transform filter commission_pct != "null"

10 . 5 . technician_id - float , name - str , team - str , starting_year - float , age - int | a bar chart for what are the number of the names of the technicians by ascending order of age ?
mark bar encoding x name y aggregate count name transform sort y asc
mark bar encoding x name y aggregate count name transform sort age asc

4 . 3 . cname - str , state - str , enr - int | return a bar graph for the name of the school that has the smallest enrollment in each state , could you order by the x axis in asc please ?
mark bar encoding x name y aggregate min enr transform sort x asc
mark bar encoding x cname y aggregate min enr transform sort x asc

15 . 5 . guest_id - int , gender_code - str , guest_first_name - str , guest_last_name - str , date_of_birth - str | return the date of birth for all the guests with gender code "male" , and count them by a bar chart , list in ascending by the y axis .
mark bar encoding x gender_code y aggregate count gender_code transform filter gender_last_name = "male" sort y asc
mark bar encoding x date_of_birth y aggregate count date_of_birth transform filter gender_code = "male" sort y asc bin x by weekday

500 . 11 . no - int , grape - str , winery - str , appelation - str , state - str , name - str , year - int , price - int , score - int , cases - float , drink - str | show the proportion of the number of grape of the wines whose price is bigger than 100 ordered by year .
mark arc encoding x grape y aggregate count grape transform filter price > 100 sort year asc
mark arc encoding x grape y aggregate count grape transform filter price > 100

5 . 3 . document_type_code - str , document_type_name - str , document_type_description - str | how many document type for different document type description ? visualize with a bar chart , order in asc by the y-axis .
mark bar encoding x document_type_name y aggregate count document_type_name transform sort y asc
mark bar encoding x document_type_description y aggregate count document_type_description transform sort y asc

15 . 8 . student_id - int , date_of_registration - str , date_of_latest_logon - str , login_name - str , password - str , personal_name - str , middle_name - str , family_name - str | what are the number of the dates of the latest logon of the students with family name "jaskolski" or "langosh" ? , and sort by the y from low to high .
mark bar encoding x date_of_latest_logon y aggregate count date_of_latest_logon transform filter personal_name like 'jaskolski' or longush transform sort y asc bin x by weekday
mark bar encoding x date_of_latest_logon y aggregate count date_of_latest_logon transform filter family_name = "jaskolski" or family_name = "langosh" sort y asc bin x by weekday

6 . 9 . roller_coaster_id - int , name - str , park - str , country_id - int , length - float , height - float , speed - float , opened - str , status - str | what are the lengths and heights of roller coasters . show scatter chart .
mark point encoding xlen(*) y aggregate none height
mark point encoding x length y aggregate none height

34 . 8 . stuid - int , lname - str , fname - str , age - int , sex - str , major - int , advisor - int , city_code - str | show the average age for male and female students visualize by bar chart , i want to rank by the mean age in asc please .
mark bar encoding x sex y aggregate mean age transform filter sex = 'm' sort y asc
mark bar encoding x sex y aggregate mean age transform sort y asc

50 . 4 . id - int , name - str , dept_name - str , salary - float | display a bar chart for what are the names and average salaries for departments with average salary higher than 42000 ? , could you list names from low to high order ?
mark bar encoding x name y aggregate mean salary transform filter salary > 42000 sort x asc
mark bar encoding x dept_name y aggregate mean salary transform sort x asc

15 . 9 . problem_log_id - int , assigned_to_staff_id - int , problem_id - int , problem_category_code - str , problem_status_code - str , log_entry_date - str , log_entry_description - str , log_entry_fix - str , other_log_details - str | find all the ids and dates of the logs for the problem whose id is 10 plot them as bar chart , and list in descending by the y-axis please .
mark bar encoding x log_entry_description y aggregate none log_entry_description transform sort y desc bin x by weekday
mark bar encoding x log_entry_date y aggregate none problem_log_id transform filter problem_id = 10 sort y desc

34 . 8 . stuid - int , lname - str , fname - str , age - int , sex - str , major - int , advisor - int , city_code - str | what are the average ages for male and female students plot them as bar chart , and list y in asc order .
mark bar encoding x sex y aggregate mean age transform filter sex = 'm' sort y asc
mark bar encoding x sex y aggregate mean age transform sort y asc

15 . 7 . apt_id - int , building_id - int , apt_type_code - str , apt_number - str , bathroom_count - int , bedroom_count - int , room_count - int | what are the apartment number and the room count of each apartment . visualize by bar chart .
mark bar encoding x apt_type_code y aggregate count apt_type_code transform
mark bar encoding x apt_number y aggregate none room_count

15 . 8 . student_id - int , date_of_registration - str , date_of_latest_logon - str , login_name - str , password - str , personal_name - str , middle_name - str , family_name - str | a bar chart for finding the number of the latest logon date of the students whose family name is "jaskolski" or "langosh" .
mark bar encoding x date_of_latest_logon y aggregate count date_of_latest_logon transform filter personal_name like 'jaskolski' or longosh
mark bar encoding x date_of_latest_logon y aggregate count date_of_latest_logon transform filter family_name = "jaskolski" or family_name = "langosh" bin x by weekday

11 . 6 . dept_code - str , dept_name - str , school_code - str , emp_num - int , dept_address - str , dept_extension - int | a bar chart about how many departments are in each school ? , rank x-axis in asc order .
mark bar encoding x school_code y aggregate count distinct dept_address transform sort x asc
mark bar encoding x school_code y aggregate count distinct dept_name transform sort x asc

3665 . 24 . date - str , max_temperature_f - float , mean_temperature_f - float , min_temperature_f - float , max_dew_point_f - float , mean_dew_point_f - float , min_dew_point_f - float , max_humidity - float , mean_humidity - float , min_humidity - float , max_sea_level_pressure_inches - float , mean_sea_level_pressure_inches - float , min_sea_level_pressure_inches - float , max_visibility_miles - float , mean_visibility_miles - float , min_visibility_miles - float , max_wind_speed_mph - float , mean_wind_speed_mph - float , max_gust_speed_mph - float , precipitation_inches - str , cloud_cover - float , events - str , wind_dir_degrees - float , zip_code - int | what are the number of the dates with a maximum temperature higher than 85 ?
mark line encoding x date y aggregate count date transform filter max_temperature_f > 85
mark bar encoding x date y aggregate count date transform filter max_temperature_f > 85 bin x by year

16 . 8 . season - float , player - str , position - str , country - int , team - int , draft_pick_number - int , draft_class - str , college - str | show the draft pick numbers and draft classes of players whose positions are defenders in a bar chart , could you order by the y-axis in ascending ?
mark bar encoding x position y aggregate count position transform filter position = "usa" sort y asc
mark bar encoding x draft_class y aggregate none draft_pick_number transform filter position = "defender" sort y asc

15 . 8 . customer_id - int , coupon_id - int , good_or_bad_customer - str , first_name - str , last_name - str , gender_mf - int , date_became_customer - str , date_last_hire - str | take the first name of all the good customers as the x-axis and gender of all the good customers as y-axis in a bar chart , show y-axis in descending order .
mark bar encoding x last_name y aggregate none gender_mf transform filter good_or_bad_customer = 'good' sort y desc
mark bar encoding x first_name y aggregate none gender_mf transform filter good_or_bad_customer = 'good' sort y desc

4 . 3 . cname - str , state - str , enr - int | return a bar graph for the name of the school that has the smallest enrollment in each state , and list total number in asc order .
mark bar encoding x name y aggregate min enr transform sort y asc
mark bar encoding x cname y aggregate min enr transform sort y asc

15 . 7 . transaction_id - int , investor_id - int , transaction_type_code - str , date_of_transaction - str , amount_of_transaction - float , share_count - float , other_details - float | a bar chart for what are the number of the dates of transactions with at least 100 share count or amount bigger than 100 ? , i want to display y-axis in ascending order .
mark bar encoding x date_of_transaction y aggregate count date_of_transaction transform filter share_count > 100 sort y asc bin x by weekday
mark bar encoding x date_of_transaction y aggregate count date_of_transaction transform filter share_count >= 100 or amount_of_transaction >= 100 sort y asc bin x by weekday

16 . 8 . season - float , player - str , position - str , country - int , team - int , draft_pick_number - int , draft_class - str , college - str | what are the draft pick numbers and draft classes for players who play the defender position show bar chart , show by the bar in ascending .
mark bar encoding x draft_pick_number y aggregate none school transform sort x asc
mark bar encoding x draft_class y aggregate none draft_pick_number transform filter position = "defender" sort x asc

9 . 6 . people_id - int , sex - str , name - str , date_of_birth - str , height - float , weight - float | what is the averag weights for people of each sex ? show a bar chart , and list bar in desc order .
mark bar encoding x sex y aggregate none weight transform sort x desc
mark bar encoding x sex y aggregate mean weight transform sort x desc

58 . 8 . facid - int , lname - str , fname - str , rank - str , sex - str , phone - int , room - str , building - str | how many faculty members do we have for each rank and gender ? plot them as bar chart , and list by the names in desc .
mark bar encoding x rank y aggregate count rank transform sort x desc
mark bar encoding x rank y aggregate count rank color sex transform sort x desc

7 . 7 . mission_id - int , ship_id - int , code - str , launched_year - int , location - str , speed_knots - int , fate - str | what is the total number of each fate ? give me the result in a bar graph , display x-axis in descending order .
mark bar encoding x lot y aggregate count lot transform sort x desc
mark bar encoding x fate y aggregate count fate transform sort x desc

50 . 4 . id - int , name - str , dept_name - str , salary - float | display a bar chart for what are the names and average salaries for departments with average salary higher than 42000 ? , and display y axis in descending order .
mark bar encoding x name y aggregate mean salary transform filter salary > 42000 sort y desc
mark bar encoding x dept_name y aggregate mean salary transform sort y desc

20 . 6 . student_id - int , address_id - int , date_address_from - str , date_address_to - str , monthly_rental - float , other_details - str | return a line chart about the change of the average of monthly_rental over date_address_to , and group by attribute date_address_to .
mark line encoding x date_address_to y aggregate mean monthly_rental color other_details transform sort monthly_rental desc
mark line encoding x date_address_to y aggregate mean monthly_rental transform sort monthly_rental desc

11 . 4 . code - int , name - str , price - int , manufacturer - int | what are the names and prices of products that cost at least 180 , sorted by price decreasing and name ascending . visualize by pie chart .
mark arc encoding x name y aggregate none price transform filter price >= 180 sort y desc name asc
mark arc encoding x name y aggregate none price transform filter price >= 180 name asc

10 . 9 . company_id - int , rank - int , company - str , headquarters - str , main_industry - str , sales_billion - float , profits_billion - float , assets_billion - float , market_value - float | how many companies that are not headquartered in the united states for each main industry ? show me a bar chart , could you sort in asc by the y axis please ?
mark bar encoding x main_industry y aggregate count main_industry transform filter main_industry != 'united states' sort y asc
mark bar encoding x main_industry y aggregate count main_industry transform filter headquarters != 'usa' sort y asc

7 . 4 . shop_id - int , employee_id - int , start_from - int , is_full_time - str | for the average of shop_id , start_from , visualize the trend , sort in asc by the x-axis .
mark line encoding x start_from y aggregate mean shop_id transform sort x asc bin x by year
mark line encoding x start_from y aggregate mean shop_id color is_full_time transform sort x asc bin x by year

10 . 3 . stuid - int , gameid - int , hours_played - int | plot a scatter chart , gameid by sum hours played .
mark point encoding xgaid y aggregate sum hread transform
mark point encoding x gameid y aggregate sum hours_played transform

6 . 9 . roller_coaster_id - int , name - str , park - str , country_id - int , length - float , height - float , speed - float , opened - str , status - str | return a scatter on what are the lengths and heights of roller coasters ?
mark point encoding x long y aggregate none height
mark point encoding x length y aggregate none height

4 . 12 . team_id - int , school_id - int , team_name - str , acc_regular_season - str , acc_percent - float , acc_home - str , acc_road - str , all_games - str , all_games_percent - float , all_home - str , all_road - str , all_neutral - str | shows the scholl id across by the attribute all neutral in a pie chart .
mark arc encoding x all_neutral y aggregate none school_id transform
mark arc encoding x all_neutral y aggregate none school_id

15 . 7 . transaction_id - int , investor_id - int , transaction_type_code - str , date_of_transaction - str , amount_of_transaction - float , share_count - float , other_details - float | a line chart for what are the number of the dates of transactions with at least 100 share count or amount bigger than 100 ? , and sort from high to low by the x-axis .
mark line encoding x date_of_transaction y aggregate count date_of_transaction transform filter share_count > 100 sort x desc bin x by year
mark line encoding x date_of_transaction y aggregate count date_of_transaction transform filter share_count >= 100 or amount_of_transaction >= 100 sort x desc bin x by year

3 . 8 . cust_id - int , cust_name - str , acc_type - str , acc_bal - int , no_of_loans - int , credit_score - int , branch_id - int , state - str | can you compare the account balances of customers with the letter 'a' in their names using a bar graph .
mark bar encoding x acc_type y aggregate none acc_bal transform filter credit_score = 'a'
mark bar encoding x cust_name y aggregate none acc_bal transform filter cust_name like '%a%'

15 . 8 . student_id - int , date_of_registration - str , date_of_latest_logon - str , login_name - str , password - str , personal_name - str , middle_name - str , family_name - str | find the number of the latest logon date of the students whose family name is "jaskolski" or "langosh" , and sort in descending by the y please .
mark bar encoding x date_of_latest_logon y aggregate count date_of_latest_logon transform filter personal_name != "jaskolski" or "langosh" sort y desc bin x by weekday
mark bar encoding x date_of_latest_logon y aggregate count date_of_latest_logon transform filter family_name = "jaskolski" or family_name = "langosh" sort y desc bin x by weekday

50 . 4 . id - int , name - str , dept_name - str , salary - float | find the names and average salaries of all departments whose average salary is greater than 42000 , and show in ascending by the y please .
mark bar encoding x dept_name y aggregate mean salary transform filter dept_name > 42000 sort y asc
mark bar encoding x dept_name y aggregate mean salary transform sort y asc

5 . 3 . document_type_code - str , document_type_name - str , document_type_description - str | how many document type for different document type description ? visualize with a bar chart , sort in asc by the x-axis .
mark bar encoding x document_type_name y aggregate count document_type_name transform sort x asc
mark bar encoding x document_type_description y aggregate count document_type_description transform sort x asc

50 . 4 . id - int , name - str , dept_name - str , salary - float | display a bar chart for what are the names and average salaries for departments with average salary higher than 42000 ?
mark bar encoding x name y aggregate mean salary transform filter salary > 42000
mark bar encoding x dept_name y aggregate mean salary transform

5 . 3 . document_type_code - str , document_type_name - str , document_type_description - str | compute the total the number of document type description across document type description as a pie chart .
mark arc encoding x document_type_name y aggregate count document_type_name transform
mark arc encoding x document_type_description y aggregate count document_type_description transform

16 . 8 . season - float , player - str , position - str , country - int , team - int , draft_pick_number - int , draft_class - str , college - str | what are the draft pick numbers and draft classes for players who play the defender position . show bar chart .
mark bar encoding x draft_pick_number y aggregate none school transform
mark bar encoding x draft_class y aggregate none draft_pick_number transform filter position = "defender"

9 . 6 . people_id - int , sex - str , name - str , date_of_birth - str , height - float , weight - float | what is the averag weights for people of each sex ? show a bar chart , i want to order from high to low by the y-axis .
mark bar encoding x sex y aggregate none weight transform sort y desc
mark bar encoding x sex y aggregate mean weight transform sort y desc

3 . 8 . cust_id - int , cust_name - str , acc_type - str , acc_bal - int , no_of_loans - int , credit_score - int , branch_id - int , state - str | what are the names and account balances of customers with the letter a in their names , list by the x axis in asc .
mark bar encoding x acc_type y aggregate none acc_bal transform filter credit_score = "usa" sort x asc
mark bar encoding x cust_name y aggregate none acc_bal transform filter cust_name like '%a%' sort x asc

6 . 9 . roller_coaster_id - int , name - str , park - str , country_id - int , length - float , height - float , speed - float , opened - str , status - str | what are the lengths and heights of roller coasters ?
mark arc encoding x long y aggregate none height
mark point encoding x length y aggregate none height

20 . 6 . student_id - int , address_id - int , date_address_from - str , date_address_to - str , monthly_rental - float , other_details - str | show me the trend about the average of monthly_rental over date_address_to , and group by attribute date_address_to with a line chart .
mark line encoding x date_address_to y aggregate mean monthly_rental color other_details transform sort monthly_rental desc
mark line encoding x date_address_to y aggregate mean monthly_rental transform sort monthly_rental desc

11 . 6 . dept_code - str , dept_name - str , school_code - str , emp_num - int , dept_address - str , dept_extension - int | find the number of departments in each school plot them as bar chart , and i want to show by the y axis from high to low please .
mark bar encoding x school_code y aggregate count distinct dept_address transform sort y desc
mark bar encoding x school_code y aggregate count distinct dept_name transform sort count(distinct asc dept_name) desc

10 . 6 . movie_id - int , title - str , year - int , director - str , budget_million - float , gross_worldwide - int | show the number of movies for each year in a bar chart and ordered by budget .
mark bar encoding x year y aggregate count year transform sort budget_million asc
mark bar encoding x year y aggregate count year transform sort budget_million asc bin x by year

15 . 8 . customer_id - int , coupon_id - int , good_or_bad_customer - str , first_name - str , last_name - str , gender_mf - int , date_became_customer - str , date_last_hire - str | take the first name of all the good customers as the x-axis and gender of all the good customers as y-axis in a bar chart , could you sort from high to low by the first_name please ?
mark bar encoding x last_name y aggregate none gender_mf transform filter good_or_bad_customer = 'good' sort x desc
mark bar encoding x first_name y aggregate none gender_mf transform filter good_or_bad_customer = 'good' sort x desc

10 . 6 . movie_id - int , title - str , year - int , director - str , budget_million - float , gross_worldwide - int | what is the number of movies for each year , ordered by budget in millions ? visualize in a bar chart .
mark bar encoding x year y aggregate count year transform sort budget_million asc
mark bar encoding x year y aggregate count year transform sort budget_million asc bin x by year

7 . 7 . mission_id - int , ship_id - int , code - str , launched_year - int , location - str , speed_knots - int , fate - str | what is the total number of each fate ? give me the result in a bar graph , and display in desc by the the number of fate please .
mark bar encoding x lot y aggregate count lot transform sort y desc
mark bar encoding x fate y aggregate count fate transform sort y desc

15 . 4 . document_id - int , location_code - str , date_in_location_from - str , date_in_locaton_to - str | give me line charts of worldwide gross the number of date in location from over year date in location from by major genres location_code , and could you rank from high to low by the x ?
mark line encoding x date_in_locaton_to y aggregate count date_in_locaton_to color location_code transform sort x desc bin x by year
mark line encoding x date_in_location_from y aggregate count date_in_location_from color location_code transform sort x desc bin x by year

16 . 8 . season - float , player - str , position - str , country - int , team - int , draft_pick_number - int , draft_class - str , college - str | what are the draft pick numbers and draft classes for players who play the defender position ?
mark bar encoding x position y aggregate count position transform
mark bar encoding x draft_class y aggregate none draft_pick_number transform filter position = "defender"

4 . 12 . team_id - int , school_id - int , team_name - str , acc_regular_season - str , acc_percent - float , acc_home - str , acc_road - str , all_games - str , all_games_percent - float , all_home - str , all_road - str , all_neutral - str | give me a scatter chart that groups all home attribute , the x-axis is school id and the y-axis is acc percent .
mark point encoding x school_id y aggregate none all_games_percent transform
mark point encoding x school_id y aggregate none acc_percent transform

3 . 8 . cust_id - int , cust_name - str , acc_type - str , acc_bal - int , no_of_loans - int , credit_score - int , branch_id - int , state - str | what are the names and account balances of customers with the letter a in their names , and i want to display in descending by the acc_bal .
mark bar encoding x acc_type y aggregate none acc_bal transform filter credit_score = "usa" sort x desc
mark bar encoding x cust_name y aggregate none acc_bal transform filter cust_name like '%a%' sort y desc

15 . 5 . guest_id - int , gender_code - str , guest_first_name - str , guest_last_name - str , date_of_birth - str | a line chart for returning the number of the date of birth for all the guests with gender code "male" , i want to show x axis in ascending order .
mark line encoding x date_of_birth y aggregate count date_of_birth transform filter customer_last_name = "male" sort x asc
mark line encoding x date_of_birth y aggregate count date_of_birth transform filter gender_code = "male" sort x asc bin x by year

15 . 13 . dog_id - int , owner_id - int , abandoned_yn - int , breed_code - str , size_code - str , name - str , age - int , date_of_birth - str , gender - int , weight - float , date_arrived - str , date_adopted - str , date_departed - str | what is the weight of each dog that was abandoned ? show in a pie chart .
mark arc encoding x name y aggregate none weight transform filter abandoned_yn = 1
mark arc encoding x name y aggregate none age transform filter abandoned_yn = 1

15 . 5 . guest_id - int , gender_code - str , guest_first_name - str , guest_last_name - str , date_of_birth - str | return the date of birth for all the guests with gender code "male" , and count them by a bar chart
mark bar encoding x gender_code y aggregate count gender_code transform filter gender_last_name = "male" bin x by weekday
mark bar encoding x date_of_birth y aggregate count date_of_birth transform filter gender_code = "male" bin x by weekday

15 . 9 . problem_log_id - int , assigned_to_staff_id - int , problem_id - int , problem_category_code - str , problem_status_code - str , log_entry_date - str , log_entry_description - str , log_entry_fix - str , other_log_details - str | find all the ids and dates of the logs for the problem whose id is 10 plot them as bar chart , i want to sort bars in asc order please .
mark bar encoding x log_entry_description y aggregate none log_entry_description transform sort x asc
mark bar encoding x log_entry_date y aggregate none problem_log_id transform filter problem_id = 10 sort x asc

15 . 7 . apt_id - int , building_id - int , apt_type_code - str , apt_number - str , bathroom_count - int , bedroom_count - int , room_count - int | give me a bar chart for room_count of each apt number , and rank in ascending by the y axis .
mark bar encoding x apt_type_code y aggregate none room_count transform sort y asc
mark bar encoding x apt_number y aggregate none room_count transform sort y asc

15 . 5 . guest_id - int , gender_code - str , guest_first_name - str , guest_last_name - str , date_of_birth - str | return the number of the date of birth for all the guests with gender code "male" .
mark bar encoding x sex_date_of_birth y aggregate count sex_date_of_birth transform filter customer_last_name = "male"
mark bar encoding x date_of_birth y aggregate count date_of_birth transform filter gender_code = "male" bin x by weekday

8 . 6 . building_id - int , name - str , street_address - str , years_as_tallest - str , height_feet - int , floors - int | please compare the number of floors for all street address using a bar chart , and order by the number of floors .
mark bar encoding x city_address y aggregate count city_ address transform sort y asc
mark bar encoding x street_address y aggregate none floors transform sort y asc

10 . 3 . stuid - int , gameid - int , hours_played - int | scatter . what are ids and total number of hours played for each game ?
mark point encoding x avg(*) y aggregate none hread
mark point encoding x gameid y aggregate sum hours_played transform

15 . 7 . apt_id - int , building_id - int , apt_type_code - str , apt_number - str , bathroom_count - int , bedroom_count - int , room_count - int | give me a bar chart for room_count of each apt number , and i want to rank from high to low by the bars please .
mark bar encoding x apt_type_code y aggregate none room_count transform sort x desc
mark bar encoding x apt_number y aggregate none room_count transform sort x desc

15 . 6 . staff_id - float , project_id - int , role_code - str , date_from - str , date_to - str , other_details - float | when do all the researcher role staff start to work ? bin the time into year interval and count them with a line chart , and rank x from high to low order .
mark line encoding x date_to y aggregate count date_to transform sort x desc bin x by year
mark line encoding x date_from y aggregate count date_from transform sort x desc bin x by year

4 . 12 . team_id - int , school_id - int , team_name - str , acc_regular_season - str , acc_percent - float , acc_home - str , acc_road - str , all_games - str , all_games_percent - float , all_home - str , all_road - str , all_neutral - str | show me about the proportion of all_games_percent and all_games_percent in a pie chart .
mark arc encoding x all_road y aggregate none all_games_percent
mark arc encoding x all_games y aggregate none all_games_percent

4 . 12 . team_id - int , school_id - int , team_name - str , acc_regular_season - str , acc_percent - float , acc_home - str , acc_road - str , all_games - str , all_games_percent - float , all_home - str , all_road - str , all_neutral - str | group by all home attribute , show me the school id and acc_percent in a scatter plot .
mark point encoding x school_id y aggregate none acc_percent
mark point encoding x school_id y aggregate none acc_percent transform

6 . 4 . crs_code - str , dept_code - str , crs_description - str , crs_credit - float | how many credits does the department offer show bar chart , i want to sort y-axis in desc order .
mark bar encoding x dept_code y aggregate count dept_code transform sort y desc
mark bar encoding x dept_code y aggregate sum crs_credit transform sort y desc

10 . 6 . movie_id - int , title - str , year - int , director - str , budget_million - float , gross_worldwide - int | show all director names who have a movie in the year 1999 or 2000 , and count them by a bar chart , and i want to display by the bars in descending .
mark bar encoding x directed y aggregate count directed transform filter movie_million > 2000 sort x desc
mark bar encoding x director y aggregate count director transform filter year = 1999 or year = 2000 sort x desc

10 . 9 . company_id - int , rank - int , company - str , headquarters - str , main_industry - str , sales_billion - float , profits_billion - float , assets_billion - float , market_value - float | show the number of companies whose headquarters are not from usa fpr each main industry in a bar chart .
mark bar encoding x main_industry y aggregate count main_industry transform filter main_industry != 'usa fpr'
mark bar encoding x main_industry y aggregate count main_industry transform filter headquarters != 'usa'

15 . 7 . transaction_id - int , investor_id - int , transaction_type_code - str , date_of_transaction - str , amount_of_transaction - float , share_count - float , other_details - float | what are the number of the dates of transactions with at least 100 share count or amount bigger than 100 ?
mark bar encoding x date_of_transaction y aggregate count date_of_transaction transform filter share_count > 100 bin x by weekday
mark bar encoding x date_of_transaction y aggregate count date_of_transaction transform filter share_count >= 100 or amount_of_transaction >= 100 bin x by weekday

15 . 5 . guest_id - int , gender_code - str , guest_first_name - str , guest_last_name - str , date_of_birth - str | a bar chart for returning the number of the date of birth for all the guests with gender code "male" , and show y in descending order .
mark bar encoding x date_of_birth y aggregate count date_of_birth transform filter customer_last_name = "male" sort y desc bin x by weekday
mark bar encoding x date_of_birth y aggregate count date_of_birth transform filter gender_code = "male" sort y desc bin x by weekday

7 . 4 . shop_id - int , employee_id - int , start_from - int , is_full_time - str | for the average of employee_id , start_from , visualize the trend , and order in asc by the x-axis .
mark line encoding x start_from y aggregate mean employee_id color is_full_time transform sort x asc bin x by year
mark line encoding x start_from y aggregate mean employee_id transform sort x asc bin x by year

11 . 6 . dept_code - str , dept_name - str , school_code - str , emp_num - int , dept_address - str , dept_extension - int | how many departments are in each school show bar chart , and show y-axis in ascending order .
mark bar encoding x school_code y aggregate count distinct dept_address transform sort count(distinct asc dept_address) asc
mark bar encoding x school_code y aggregate count distinct dept_name transform sort count(distinct asc dept_name) asc

6 . 5 . exhibition_id - int , year - int , theme - str , artist_id - int , ticket_price - float | show me how many year by year in a histogram , and i want to list y-axis in desc order .
mark bar encoding x year y aggregate count year transform sort y desc
mark bar encoding x year y aggregate count year transform sort y desc bin x by weekday

4120 . 9 . player_id - str , yearid - int , votedby - str , ballots - float , needed - float , votes - float , inducted - str , category - str , needed_note - str | count yearid for visualizing a line chart , and sort x in asc order .
mark line encoding x yearid y aggregate count yearid transform sort x asc
mark line encoding x yearid y aggregate count yearid transform sort x asc bin x by year

19 . 8 . id - int , name - str , headquarters - str , industry - str , sales_billion - float , profits_billion - float , assets_billion - float , market_value_billion - float | , and show in desc by the total number .
mark bar encoding x headquarters y aggregate count headquarters transform sort y desc
mark bar encoding x industry y aggregate count industry transform sort y desc

3 . 8 . cust_id - int , cust_name - str , acc_type - str , acc_bal - int , no_of_loans - int , credit_score - int , branch_id - int , state - str | find the name and account balance of the customer whose name includes the letter ‘a’ . visualize them using a bar chart .
mark bar encoding x acc_type y aggregate none acc_bal transform filter credit_score = "a"
mark bar encoding x cust_name y aggregate none acc_bal transform filter cust_name like '%a%'

34 . 8 . stuid - int , lname - str , fname - str , age - int , sex - str , major - int , advisor - int , city_code - str | visualize a bar chart for what are the average ages for male and female students ? , could you rank from high to low by the names ?
mark bar encoding x sex y aggregate mean age transform filter sex = 'm' sort x desc
mark bar encoding x sex y aggregate mean age transform sort x desc

15 . 5 . guest_id - int , gender_code - str , guest_first_name - str , guest_last_name - str , date_of_birth - str | what are dates of birth of all the guests whose gender is "male" , and count them by a bar chart
mark bar encoding x gender_code y aggregate count gender_code transform filter gender_code = "male" bin x by weekday
mark bar encoding x date_of_birth y aggregate count date_of_birth transform filter gender_code = "male" bin x by weekday

16 . 8 . season - float , player - str , position - str , country - int , team - int , draft_pick_number - int , draft_class - str , college - str | show the draft pick numbers and draft classes of players whose positions are defenders in a bar chart , and show by the bar in ascending .
mark bar encoding x position y aggregate count position transform sort x asc
mark bar encoding x draft_class y aggregate none draft_pick_number transform filter position = "defender" sort x asc

11 . 6 . dept_code - str , dept_name - str , school_code - str , emp_num - int , dept_address - str , dept_extension - int | how many departments are in each school show bar chart , display by the bars in ascending .
mark bar encoding x school_code y aggregate count distinct dept_address transform sort x asc
mark bar encoding x school_code y aggregate count distinct dept_name transform sort x asc

5 . 3 . document_type_code - str , document_type_name - str , document_type_description - str | how many document type for different document type description ? visualize with a bar chart .
mark bar encoding x document_type_name y aggregate count document_type_name transform
mark bar encoding x document_type_description y aggregate count document_type_description transform

4 . 12 . team_id - int , school_id - int , team_name - str , acc_regular_season - str , acc_percent - float , acc_home - str , acc_road - str , all_games - str , all_games_percent - float , all_home - str , all_road - str , all_neutral - str | show me about the proportion of team_id and team_id in a pie chart .
mark arc encoding x team_name y aggregate none team_id
mark arc encoding x all_neutral y aggregate none team_id

7 . 7 . mission_id - int , ship_id - int , code - str , launched_year - int , location - str , speed_knots - int , fate - str | show the number of fate from each fate , i want to show by the x-axis in descending .
mark bar encoding x lot y aggregate count lot transform sort x desc
mark bar encoding x fate y aggregate count fate transform sort x desc

15 . 7 . apt_id - int , building_id - int , apt_type_code - str , apt_number - str , bathroom_count - int , bedroom_count - int , room_count - int | what are the apartment number and the room count of each apartment visualize by bar chart , and list x-axis from high to low order .
mark bar encoding x apt_type_code y aggregate count apt_type_code transform sort x desc
mark bar encoding x apt_number y aggregate none room_count transform sort x desc

5 . 3 . document_type_code - str , document_type_name - str , document_type_description - str | bar graph to show the number of document type description from different document type description , and show in asc by the y-axis .
mark bar encoding x document_type_name y aggregate count document_type_name transform sort y asc
mark bar encoding x document_type_description y aggregate count document_type_description transform sort y asc

16 . 8 . season - float , player - str , position - str , country - int , team - int , draft_pick_number - int , draft_class - str , college - str | show the draft pick numbers and draft classes of players whose positions are defenders show bar chart , and display from high to low by the x-axis .
mark bar encoding x position y aggregate count position transform filter position = "usa" sort x desc
mark bar encoding x draft_class y aggregate none draft_pick_number transform filter position = "defender" sort x desc

3 . 8 . cust_id - int , cust_name - str , acc_type - str , acc_bal - int , no_of_loans - int , credit_score - int , branch_id - int , state - str | visualize a bar chart for what are the names and account balances of customers with the letter 'a' in their names ?
mark bar encoding x acc_type y aggregate none acc_bal transform filter credit_score = 'a'
mark bar encoding x cust_name y aggregate none acc_bal transform filter cust_name like '%a%'

13 . 6 . class_code - int , crs_code - str , class_section - int , class_time - str , class_room - str , prof_num - int | for each classroom with at least 2 classes , how many classes are offered , and order in asc by the bars .
mark bar encoding x class_room y aggregate count class_room transform filter class_room >= 2 sort x asc
mark bar encoding x class_room y aggregate count class_room transform sort x asc

3665 . 24 . date - str , max_temperature_f - float , mean_temperature_f - float , min_temperature_f - float , max_dew_point_f - float , mean_dew_point_f - float , min_dew_point_f - float , max_humidity - float , mean_humidity - float , min_humidity - float , max_sea_level_pressure_inches - float , mean_sea_level_pressure_inches - float , min_sea_level_pressure_inches - float , max_visibility_miles - float , mean_visibility_miles - float , min_visibility_miles - float , max_wind_speed_mph - float , mean_wind_speed_mph - float , max_gust_speed_mph - float , precipitation_inches - str , cloud_cover - float , events - str , wind_dir_degrees - float , zip_code - int | what are the number of the dates with a maximum temperature higher than 85 ? , i want to show the number of date from low to high order .
mark line encoding x date y aggregate count date transform filter max_temperature_f > 85 sort y asc bin x by weekday
mark bar encoding x date y aggregate count date transform filter max_temperature_f > 85 sort y asc bin x by year

3 . 8 . cust_id - int , cust_name - str , acc_type - str , acc_bal - int , no_of_loans - int , credit_score - int , branch_id - int , state - str | can you compare the account balances of customers with the letter 'a' in their names using a bar graph , list by the x axis in asc .
mark bar encoding x acc_type y aggregate none acc_bal transform filter credit_score = 'a' sort x asc
mark bar encoding x cust_name y aggregate none acc_bal transform filter cust_name like '%a%' sort x asc

15 . 7 . apt_id - int , building_id - int , apt_type_code - str , apt_number - str , bathroom_count - int , bedroom_count - int , room_count - int | what are the apartment number and the room count of each apartment visualize by bar chart , show by the y-axis from high to low .
mark bar encoding x apt_type_code y aggregate count apt_type_code transform sort y desc
mark bar encoding x apt_number y aggregate none room_count transform sort y desc

10 . 9 . company_id - int , rank - int , company - str , headquarters - str , main_industry - str , sales_billion - float , profits_billion - float , assets_billion - float , market_value - float | show the number of companies whose headquarters are not from usa fpr each main industry in a bar chart , and display y from high to low order .
mark bar encoding x main_industry y aggregate count main_industry transform filter main_industry != 'usa fpr' sort y desc
mark bar encoding x main_industry y aggregate count main_industry transform filter headquarters != 'usa' sort y desc

5 . 3 . document_type_code - str , document_type_name - str , document_type_description - str | bar graph to show the number of document type description from different document type description , and i want to order in descending by the y .
mark bar encoding x document_type_name y aggregate count document_type_name transform sort y desc
mark bar encoding x document_type_description y aggregate count document_type_description transform sort y desc

3 . 8 . cust_id - int , cust_name - str , acc_type - str , acc_bal - int , no_of_loans - int , credit_score - int , branch_id - int , state - str | what are the names and account balances of customers with the letter a in their names , show by the acc_bal in ascending .
mark bar encoding x acc_type y aggregate none acc_bal transform filter credit_score = "usa" sort x asc
mark bar encoding x cust_name y aggregate none acc_bal transform filter cust_name like '%a%' sort y asc

4 . 3 . cname - str , state - str , enr - int | return a bar graph for the name of the school that has the smallest enrollment in each state , and i want to rank by the y-axis in desc .
mark bar encoding x name y aggregate min enr transform sort y desc
mark bar encoding x cname y aggregate min enr transform sort y desc

10 . 5 . cinema_id - int , name - str , openning_year - int , capacity - int , location - str | plot sum capacity over openning year in a line chart
mark line encoding x openning_year y aggregate sum capacity transform
mark line encoding x openning_year y aggregate sum capacity transform bin x by year

15 . 5 . guest_id - int , gender_code - str , guest_first_name - str , guest_last_name - str , date_of_birth - str | what are dates of birth of all the guests whose gender is "male" , and count them by a line chart
mark line encoding x gender_code y aggregate count gender_code transform filter gender_code = "male" bin x by year
mark line encoding x date_of_birth y aggregate count date_of_birth transform filter gender_code = "male" bin x by year

15 . 8 . student_id - int , date_of_registration - str , date_of_latest_logon - str , login_name - str , password - str , personal_name - str , middle_name - str , family_name - str | find the number of the latest logon date of the students whose family name is "jaskolski" or "langosh" , and could you list y axis in ascending order ?
mark bar encoding x date_of_latest_logon y aggregate count date_of_latest_logon transform filter personal_name != "jaskolski" or "langosh" sort y asc bin x by weekday
mark bar encoding x date_of_latest_logon y aggregate count date_of_latest_logon transform filter family_name = "jaskolski" or family_name = "langosh" sort y asc bin x by weekday

7 . 7 . mission_id - int , ship_id - int , code - str , launched_year - int , location - str , speed_knots - int , fate - str | what is the total number of each fate ? give me the result in a bar graph , and could you order y-axis from low to high order ?
mark bar encoding x lot y aggregate count lot transform sort y asc
mark bar encoding x fate y aggregate count fate transform sort y asc

34 . 8 . stuid - int , lname - str , fname - str , age - int , sex - str , major - int , advisor - int , city_code - str | show the average age for male and female students with a bar chart , and list by the bars from low to high .
mark bar encoding x sex y aggregate mean age transform filter sex = 'm' sort x asc
mark bar encoding x sex y aggregate mean age transform sort x asc

15 . 5 . guest_id - int , gender_code - str , guest_first_name - str , guest_last_name - str , date_of_birth - str | return the date of birth for all the guests with gender code "male" , and count them by a line chart
mark line encoding x gender_code y aggregate count gender_code transform filter gender_last_name = "male"
mark line encoding x date_of_birth y aggregate count date_of_birth transform filter gender_code = "male" bin x by year

6 . 4 . crs_code - str , dept_code - str , crs_description - str , crs_credit - float | display a bar chart for how many credits does the department offer ? , and i want to rank by the total number from high to low .
mark bar encoding x dept_code y aggregate count dept_code transform sort y desc
mark bar encoding x dept_code y aggregate sum crs_credit transform sort y desc

15 . 4 . product_id - int , product_type_code - str , product_name - str , product_price - float | show the relationship between minimum product price and maximum product price in a scatter chart .
mark point encoding x max(product_price) y aggregate min product_price transform
mark point encoding x max(product_price) y aggregate min product_price transform sort product_type_code asc

10 . 7 . member_id - int , name - str , membership_card - str , age - int , time_of_purchase - int , level_of_membership - int , address - str | a bar chart showing the average purchase time for each coffee shop address .
mark bar encoding x address y aggregate mean time_of_purchase transform
mark bar encoding x address y aggregate mean time_of_purchase transform sort time_of_purchase asc

16 . 8 . season - float , player - str , position - str , country - int , team - int , draft_pick_number - int , draft_class - str , college - str | show the draft pick numbers and draft classes of players whose positions are defenders show bar chart , i want to list by the x-axis from low to high .
mark bar encoding x position y aggregate count position transform filter position = "usa" sort x asc
mark bar encoding x draft_class y aggregate none draft_pick_number transform filter position = "defender" sort x asc

15 . 9 . id - int , series_name - str , country - str , language - str , content - str , pixel_aspect_ratio_par - str , hight_definition_tv - str , pay_per_view_ppv - str , package_option - str | what are the pixel aspect ratio and country of origin for all tv channels that do not use english ? show the comparison of the total number of pixel aspect ratio in a bar chart , i want to display in desc by the pixel_aspect_ratio_par .
mark bar encoding x pixel_aspect_ratio_par y aggregate count pixel_aspect_ratio_par transform filter language != 'english' sort y desc
mark bar encoding x pixel_aspect_ratio_par y aggregate count pixel_aspect_ratio_par transform filter language != 'english' sort x desc

11 . 6 . dept_code - str , dept_name - str , school_code - str , emp_num - int , dept_address - str , dept_extension - int | find the number of departments in each school plot them as bar chart , could you list in ascending by the x ?
mark bar encoding x school_code y aggregate count distinct dept_address transform sort x asc
mark bar encoding x school_code y aggregate count distinct dept_name transform sort x asc

15 . 7 . apt_id - int , building_id - int , apt_type_code - str , apt_number - str , bathroom_count - int , bedroom_count - int , room_count - int | what are the apartment number and the room count of each apartment visualize by bar chart , and sort by the x-axis in asc .
mark bar encoding x apt_type_code y aggregate count apt_type_code transform sort x asc
mark bar encoding x apt_number y aggregate none room_count transform sort x asc

15 . 5 . payment_id - int , settlement_id - int , payment_method_code - str , date_payment_made - str , amount_payment - int | give me the payment id , and the amount for all the payments processed with visa using a scatter chart .
mark point encoding x date_payment_made y aggregate none amount_payment transform filter payment_method_code = 'visa'
mark point encoding x payment_id y aggregate none amount_payment transform filter payment_method_code = 'visa'

4120 . 9 . player_id - str , yearid - int , votedby - str , ballots - float , needed - float , votes - float , inducted - str , category - str , needed_note - str | count yearid for visualizing a line chart .
mark line encoding x yearid y aggregate count yearid transform
mark line encoding x yearid y aggregate count yearid transform bin x by year

34 . 8 . stuid - int , lname - str , fname - str , age - int , sex - str , major - int , advisor - int , city_code - str | a bar chart about what are the average ages for male and female students ?
mark bar encoding x sex y aggregate mean age transform filter sex = 'm'
mark bar encoding x sex y aggregate mean age transform

7 . 7 . mission_id - int , ship_id - int , code - str , launched_year - int , location - str , speed_knots - int , fate - str | compare the total number of each fate with a bar chart , could you show by the the number of fate in desc ?
mark bar encoding x lot y aggregate count lot transform sort y desc
mark bar encoding x fate y aggregate count fate transform sort y desc

6 . 6 . device_id - int , device - str , carrier - str , package_version - str , applications - str , software_platform - str | what are the different software platforms for devices , and how many devices have each .
mark bar encoding x software_platform y aggregate count software_platform transform
mark arc encoding x software_platform y aggregate count software_platform transform

15 . 13 . dog_id - int , owner_id - int , abandoned_yn - int , breed_code - str , size_code - str , name - str , age - int , date_of_birth - str , gender - int , weight - float , date_arrived - str , date_adopted - str , date_departed - str | create a bar chart showing the number of date departed across date departed , and i want to show in ascending by the y-axis .
mark bar encoding x date_departed y aggregate count date_departed transform sort y asc
mark bar encoding x date_departed y aggregate count date_departed transform sort y asc bin x by weekday

10 . 6 . movie_id - int , title - str , year - int , director - str , budget_million - float , gross_worldwide - int | show all director names who have a movie in the year 1999 or 2000 , and count them by a bar chart , and could you display by the director in ascending ?
mark bar encoding x directed y aggregate count directed transform filter movie_million > 2000 sort x asc
mark bar encoding x director y aggregate count director transform filter year = 1999 or year = 2000 sort x asc

50 . 4 . id - int , name - str , dept_name - str , salary - float | give me a histogram for what are the names and average salaries for departments with average salary higher than 42000 ? , and could you list names from low to high order ?
mark bar encoding x name y aggregate mean salary transform filter salary > 42000 sort x asc
mark bar encoding x dept_name y aggregate mean salary transform sort x asc

50 . 4 . id - int , name - str , dept_name - str , salary - float | what are the names and average salaries for departments with average salary higher than 42000 plot them as bar chart , and sort by the x-axis from low to high .
mark bar encoding x name y aggregate mean salary transform filter salary > 42000 sort x asc
mark bar encoding x dept_name y aggregate mean salary transform sort x asc

9 . 2 . master_customer_id - int , cmi_details - str | could you draw a bar graph to show all information about customer master index , and sort them by details in descending order .
mark bar encoding x customer y aggregate none master_customer_id transform sort x desc
mark bar encoding x cmi_details y aggregate none master_customer_id transform sort x desc

15 . 7 . apt_id - int , building_id - int , apt_type_code - str , apt_number - str , bathroom_count - int , bedroom_count - int , room_count - int | return the apartment number and the number of rooms for each apartment by a bar chart , and show by the y-axis from high to low .
mark bar encoding x apt_type_code y aggregate count apt_type_code transform sort y desc
mark bar encoding x apt_number y aggregate none room_count transform sort y desc

15 . 5 . guest_id - int , gender_code - str , guest_first_name - str , guest_last_name - str , date_of_birth - str | what are dates of birth of all the guests whose gender is "male" , and count them by a bar chart , sort in ascending by the total number please .
mark bar encoding x salary_last_name y aggregate count salary_code transform filter gender_code = "male" sort y asc bin x by weekday
mark bar encoding x date_of_birth y aggregate count date_of_birth transform filter gender_code = "male" sort y asc bin x by weekday

3665 . 24 . date - str , max_temperature_f - float , mean_temperature_f - float , min_temperature_f - float , max_dew_point_f - float , mean_dew_point_f - float , min_dew_point_f - float , max_humidity - float , mean_humidity - float , min_humidity - float , max_sea_level_pressure_inches - float , mean_sea_level_pressure_inches - float , min_sea_level_pressure_inches - float , max_visibility_miles - float , mean_visibility_miles - float , min_visibility_miles - float , max_wind_speed_mph - float , mean_wind_speed_mph - float , max_gust_speed_mph - float , precipitation_inches - str , cloud_cover - float , events - str , wind_dir_degrees - float , zip_code - int | for those dates that have the 5 highest cloud cover rates , please bin the date into weekdays interval and compute their total cloud cover , and show y-axis from low to high order .
mark bar encoding x date y aggregate sum cloud_cover transform sort y desc bin x by weekday
mark bar encoding x date y aggregate sum cloud_cover transform sort y asc bin x by weekday

50 . 4 . id - int , name - str , dept_name - str , salary - float | display a bar chart for what are the names and average salaries for departments with average salary higher than 42000 ? , list in ascending by the y axis .
mark bar encoding x name y aggregate mean salary transform filter salary > 42000 sort y asc
mark bar encoding x dept_name y aggregate mean salary transform sort y asc

7 . 4 . shop_id - int , employee_id - int , start_from - int , is_full_time - str | for the average of employee_id , start_from , visualize the trend , rank in desc by the x axis .
mark line encoding x start_from y aggregate mean employee_id color is_full_time transform sort x desc bin x by year
mark line encoding x start_from y aggregate mean employee_id transform sort x desc bin x by year

3 . 8 . cust_id - int , cust_name - str , acc_type - str , acc_bal - int , no_of_loans - int , credit_score - int , branch_id - int , state - str | visualize a bar chart for what are the names and account balances of customers with the letter 'a' in their names ? , and list y axis in ascending order .
mark bar encoding x acc_type y aggregate none acc_bal transform filter credit_score = 'a' sort y asc
mark bar encoding x cust_name y aggregate none acc_bal transform filter cust_name like '%a%' sort y asc

10 . 3 . stuid - int , gameid - int , hours_played - int | show all game ids and the number of hours played by a scatter chart .
mark point encoding xgaid y aggregate countgaid transform
mark point encoding x gameid y aggregate sum hours_played transform

3 . 8 . cust_id - int , cust_name - str , acc_type - str , acc_bal - int , no_of_loans - int , credit_score - int , branch_id - int , state - str | what are the names and account balances of customers with the letter a in their names .
mark bar encoding x acc_type y aggregate none credit_score transform sort x asc
mark bar encoding x cust_name y aggregate none acc_bal transform filter cust_name like '%a%'

2944 . 9 . year - int , league_id - str , team_id - str , park_id - str , span_first - str , span_last - str , games - int , openings - int , attendance - int | visualize the general trend of how many year over the year , show x axis from low to high order .
mark line encoding x year y aggregate count year transform sort x asc
mark line encoding x year y aggregate count year transform sort x asc bin x by year

5 . 3 . document_type_code - str , document_type_name - str , document_type_description - str | show the number of document type for different document type description in a bar chart , and i want to order x axis in desc order .
mark bar encoding x document_type_name y aggregate count document_type_name transform sort x desc
mark bar encoding x document_type_description y aggregate count document_type_description transform sort x desc

34 . 8 . stuid - int , lname - str , fname - str , age - int , sex - str , major - int , advisor - int , city_code - str | show the average age for male and female students with a bar chart , and could you list bar from high to low order ?
mark bar encoding x sex y aggregate mean age transform filter sex = 'm' sort x desc
mark bar encoding x sex y aggregate mean age transform sort x desc

11 . 6 . dept_code - str , dept_name - str , school_code - str , emp_num - int , dept_address - str , dept_extension - int | a bar chart about how many departments are in each school ? , could you order in descending by the count(distinctdept_name) ?
mark bar encoding x school_code y aggregate count distinct dept_address transform sort count(distinctdept_name) desc
mark bar encoding x school_code y aggregate count distinct dept_name transform sort count(distinct asc dept_name) desc

15 . 7 . apt_id - int , building_id - int , apt_type_code - str , apt_number - str , bathroom_count - int , bedroom_count - int , room_count - int | return the apartment number and the number of rooms for each apartment by a bar chart .
mark bar encoding x apt_type_code y aggregate count apt_type_code transform
mark bar encoding x apt_number y aggregate none room_count

15 . 9 . problem_log_id - int , assigned_to_staff_id - int , problem_id - int , problem_category_code - str , problem_status_code - str , log_entry_date - str , log_entry_description - str , log_entry_fix - str , other_log_details - str | find all the ids and dates of the logs for the problem whose id is 10 . plot them as bar chart .
mark bar encoding x log_entry_description y aggregate none log_entry_description transform filter log_entry_description != 10 bin x by weekday
mark bar encoding x log_entry_date y aggregate none problem_log_id transform filter problem_id = 10

34 . 8 . stuid - int , lname - str , fname - str , age - int , sex - str , major - int , advisor - int , city_code - str | visualize a bar chart for what are the average ages for male and female students ? , and list y in asc order .
mark bar encoding x sex y aggregate mean age transform filter sex = 'm' sort y asc
mark bar encoding x sex y aggregate mean age transform sort y asc

15 . 8 . incident_id - int , incident_type_code - str , student_id - int , date_incident_start - str , date_incident_end - str , incident_summary - float , recommendations - str , other_details - float | a bar chart about the number of end dates for incidents with incident type code "noise" ? , and rank from high to low by the y-axis .
mark bar encoding x date_incident_end y aggregate count date_incident_end transform filter incident_type_code = "noise" sort y desc bin x by weekday
mark bar encoding x date_incident_end y aggregate count date_incident_end transform filter incident_type_code = "noise" sort y desc

15 . 7 . apt_id - int , building_id - int , apt_type_code - str , apt_number - str , bathroom_count - int , bedroom_count - int , room_count - int | give me a bar chart for room_count of each apt number , and order from low to high by the apt_number .
mark bar encoding x apt_type_code y aggregate none room_count transform sort x asc
mark bar encoding x apt_number y aggregate none room_count transform sort x asc

3665 . 24 . date - str , max_temperature_f - float , mean_temperature_f - float , min_temperature_f - float , max_dew_point_f - float , mean_dew_point_f - float , min_dew_point_f - float , max_humidity - float , mean_humidity - float , min_humidity - float , max_sea_level_pressure_inches - float , mean_sea_level_pressure_inches - float , min_sea_level_pressure_inches - float , max_visibility_miles - float , mean_visibility_miles - float , min_visibility_miles - float , max_wind_speed_mph - float , mean_wind_speed_mph - float , max_gust_speed_mph - float , precipitation_inches - str , cloud_cover - float , events - str , wind_dir_degrees - float , zip_code - int | give me the number of the dates when the max temperature was higher than 85 , and display from low to high by the y .
mark bar encoding x date y aggregate count date transform filter max_temperature_f > 85 sort y desc bin x by weekday
mark bar encoding x date y aggregate count date transform filter max_temperature_f > 85 sort y asc bin x by year

13 . 6 . class_code - int , crs_code - str , class_section - int , class_time - str , class_room - str , prof_num - int | for each classroom with at least 2 classes , how many classes are offered , and show class_room in desc order .
mark bar encoding x class_room y aggregate count class_room transform filter class_room >= 2 sort x desc
mark bar encoding x class_room y aggregate count class_room transform sort x desc

50 . 4 . id - int , name - str , dept_name - str , salary - float | give me a histogram for what are the names and average salaries for departments with average salary higher than 42000 ?
mark bar encoding x name y aggregate mean salary transform filter salary > 42000
mark bar encoding x dept_name y aggregate mean salary transform

15 . 5 . guest_id - int , gender_code - str , guest_first_name - str , guest_last_name - str , date_of_birth - str | a bar chart for returning the number of the date of birth for all the guests with gender code "male" , and rank from low to high by the y axis .
mark bar encoding x date_of_birth y aggregate count date_of_birth transform filter customer_last_name = "male" sort y asc bin x by weekday
mark bar encoding x date_of_birth y aggregate count date_of_birth transform filter gender_code = "male" sort y asc bin x by weekday

15 . 7 . transaction_id - int , investor_id - int , transaction_type_code - str , date_of_transaction - str , amount_of_transaction - float , share_count - float , other_details - float | what are the number of the dates of transactions with at least 100 share count or amount bigger than 100 ? , could you order date_of_transaction from high to low order please ?
mark bar encoding x date_of_transaction y aggregate count date_of_transaction transform filter share_count > 100 sort x desc bin x by year
mark line encoding x date_of_transaction y aggregate count date_of_transaction transform filter share_count >= 100 or amount_of_transaction >= 100 sort x desc bin x by year

500 . 11 . no - int , grape - str , winery - str , appelation - str , state - str , name - str , year - int , price - int , score - int , cases - float , drink - str | give me a bar chart for the number of year of each year , and rank total number in desc order .
mark bar encoding x year y aggregate count year transform sort y desc
mark bar encoding x year y aggregate count year transform sort y desc bin x by weekday

15 . 8 . student_id - int , date_of_registration - str , date_of_latest_logon - str , login_name - str , password - str , personal_name - str , middle_name - str , family_name - str | a bar chart for what are the number of the dates of the latest logon of the students with family name "jaskolski" or "langosh" ? , and sort in descending by the y-axis .
mark bar encoding x date_of_latest_logon y aggregate count date_of_latest_logon transform filter personal_name like 'jaskolski' or 'langosh' sort y desc bin x by weekday
mark bar encoding x date_of_latest_logon y aggregate count date_of_latest_logon transform filter family_name = "jaskolski" or family_name = "langosh" sort y desc bin x by weekday

19 . 8 . id - int , name - str , headquarters - str , industry - str , sales_billion - float , profits_billion - float , assets_billion - float , market_value_billion - float | , order by the bars from low to high .
mark bar encoding x headquarters y aggregate none market_value_billion transform sort x asc
mark bar encoding x industry y aggregate count industry transform sort x asc

11 . 6 . dept_code - str , dept_name - str , school_code - str , emp_num - int , dept_address - str , dept_extension - int | return a bar chart on how many departments are in each school ? , and list by the total number in desc please .
mark bar encoding x school_code y aggregate count distinct dept_address transform sort count(distinct asc dept_address) desc
mark bar encoding x school_code y aggregate count distinct dept_name transform sort count(distinct asc dept_name) desc

15 . 3 . premise_id - int , premises_type - str , premise_details - str | show the number of premises for different premises type in a bar chart .
mark bar encoding x premises_type y aggregate count premises_type transform
mark bar encoding x premises_type y aggregate count premises_type transform sort x asc

8 . 6 . building_id - int , name - str , street_address - str , years_as_tallest - str , height_feet - int , floors - int | return a bar chart that the street address as the x-axis , and the number of floors for all buildings as y-axis , and ordered by the number of floors .
mark bar encoding x city_address y aggregate count city_address transform sort y asc
mark bar encoding x street_address y aggregate none floors transform sort y asc

58 . 8 . facid - int , lname - str , fname - str , rank - str , sex - str , phone - int , room - str , building - str | stacked bar chart of the total number for with each sex in each rank
mark bar encoding x rank y aggregate count rank transform
mark bar encoding x rank y aggregate count rank color sex transform

34 . 8 . stuid - int , lname - str , fname - str , age - int , sex - str , major - int , advisor - int , city_code - str | visualize a bar chart for what are the average ages for male and female students ? , and order y axis in desc order .
mark bar encoding x sex y aggregate mean age transform filter sex = 'm' sort y desc
mark bar encoding x sex y aggregate mean age transform sort y desc

5 . 3 . document_type_code - str , document_type_name - str , document_type_description - str | show the number of document type for different document type description in a bar chart .
mark bar encoding x document_type_name y aggregate count document_type_name transform
mark bar encoding x document_type_description y aggregate count document_type_description transform

15 . 5 . guest_id - int , gender_code - str , guest_first_name - str , guest_last_name - str , date_of_birth - str | what are the number of dates of birth of all the guests whose gender is "male" ? , and sort y in ascending order please .
mark bar encoding x sex_code y aggregate count sex_code transform filter sex_last_name = "male" sort y asc bin x by weekday
mark bar encoding x date_of_birth y aggregate count date_of_birth transform filter gender_code = "male" sort y asc bin x by weekday

7 . 7 . mission_id - int , ship_id - int , code - str , launched_year - int , location - str , speed_knots - int , fate - str | compare the total number of each fate with a bar chart , list x-axis in asc order .
mark bar encoding x lot y aggregate count lot transform sort x asc
mark bar encoding x fate y aggregate count fate transform sort x asc

In [ ]:
source = test_df['source'][100]

In [ ]:
input_ids = tokenizer(source, return_tensors="pt", max_length=512, padding=True, truncation=True).input_ids 
outputs = model.generate(input_ids)

decoded = ''.join(tokenizer.convert_ids_to_tokens(outputs[0])[1:-1]).replace('▁', ' ').strip()

In [ ]:
source

In [ ]:
decoded

In [ ]:
tokenizer = AutoTokenizer.from_pretrained('./results_causal/', local_files_only=True)
model = AutoModelForCausalLM.from_pretrained('./results_causal/', local_files_only=True)

In [ ]:
source = '10 . 9 . company_id - int , rank - int , company - str , headquarters - str , main_industry - str , sales_billion - float , profits_billion - float , assets_billion - float , market_value - float | what is the market value of every'

input_ids = tokenizer(source, return_tensors="pt").input_ids 

logits = model(input_ids).logits[:, -1, :]

pred_ids = torch.argsort(logits)[0, -5:]
pred_words = [tokenizer.decode(pred_id) for pred_id in pred_ids]

In [ ]:
pred_words

In [ ]:
pred_ids = torch.argsort(logits)[0, -5:]
probs = logits[0][pred_ids] 
probs

In [ ]:
logits[0][pred_ids]

In [ ]:
probs

In [ ]:
pred_ids

In [1]:
from nlplot import Nlplot
import pandas as pd

In [2]:
nlplot = Nlplot('./results_seq2seq/', './results_causal/')

In [61]:
df = pd.read_csv('./dataset/database/formula_1_drivers.csv')

In [62]:
df.head()

,driverId,driverRef,number,code,forename,surname,dob,nationality,url
0,1,hamilton,44.0,HAM,Lewis,Hamilton,07/01/1985,British,http://en.wikipedia.org/wiki/Lewis_Hamilton
1,2,heidfeld,NaN,HEI,Nick,Heidfeld,10/05/1977,German,http://en.wikipedia.org/wiki/Nick_Heidfeld
2,3,rosberg,6.0,ROS,Nico,Rosberg,27/06/1985,German,http://en.wikipedia.org/wiki/Nico_Rosberg
3,4,alonso,14.0,ALO,Fernando,Alonso,29/07/1981,Spanish,http://en.wikipedia.org/wiki/Fernando_Alonso
4,5,kovalainen,NaN,KOV,Heikki,Kovalainen,19/10/1981,Finnish,http://en.wikipedia.org/wiki/Heikki_Kovalainen

In [36]:
nlplot.specify_dataset(df)

In [42]:
nlplot.causal('plot sum of gross_in_dollar by Studio')

13 . 5 . film_id - int , title - str , studio - str , director - str , gross_in_dollar - int | plot how many title by studio

[' in', ' as', ' over', ' across', ' divided']

In [63]:
nlplot.seq2seq('plot sum of number by surname')

13 . 5 . film_id - int , title - str , studio - str , director - str , gross_in_dollar - int | plot sum of number by surname

'mark bar encoding x nominee y aggregate sum number transform'

In [51]:
tokenizer.tokenize('13 . 5 . film_id - int , title - str , studio - str , director - str , gross_in_dollar - int | plot sum of gross_in_dollar by Studio')

['▁13',
 '▁',
 '.',
 '▁5',
 '▁',
 '.',
 '▁film',
 '_',
 'id',
 '▁-',
 '▁in',
 't',
 '▁',
 ',',
 '▁title',
 '▁-',
 '▁str',
 '▁',
 ',',
 '▁studio',
 '▁-',
 '▁str',
 '▁',
 ',',
 '▁director',
 '▁-',
 '▁str',
 '▁',
 ',',
 '▁gross',
 '_',
 'in',
 '_',
 'd',
 'ol',
 'lar',
 '▁-',
 '▁in',
 't',
 '▁',
 '|',
 '▁plot',
 '▁sum',
 '▁of',
 '▁gross',
 '_',
 'in',
 '_',
 'd',
 'ol',
 'lar',
 '▁by',
 '▁Studi',
 'o']

In [64]:
train_df['source'][100]

'10 . 5 . cinema_id - int , name - str , openning_year - int , capacity - int , location - str | bar chart of how many openning year from each openning year , i want to show names in ascending order please .'